<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link href="../stylesheets/Project/styles.css" rel="stylesheet" />
		<script type="text/javascript" src="/javascripts/Blog/jquery.min.js"></script>
		<script type="text/javascript" src="/javascripts/protect.js"></script>
		<link rel="icon" type="image/png" href="/images/My Logo/favicon2.png" />
	</head>
	<body>
		<div class="mainContent">
			<aside>
				<div class="avatar">
					<a href="#"><span>冰的沸点</span></a>
				</div>
				<section class="topspaceinfo">
					<h1>做个俗人，爱好写码</h1>
					<p>写字有品，绘画有道，让人着迷</p>
					<p>博学有识，写码有瘾，玩笑有度</p>
					<p>的简单小俗人.</p>
				</section>
				<br />
				<!-- <div class="userinfo">
          <p class="q-fans">粉丝：<a href="/" target="_blank">100</a></p>
          <p class="btns">
            <a href="/" target="_blank">私信</a
            ><a href="/" target="_blank">相册</a>
          </p>
        </div> -->

				<section class="taglist">
					<h2>全部标签</h2>
					<ul>
						<li><a href="/#">Node.js</a></li>
						<li><a href="/#">Python</a></li>
						<li><a href="/#">Javascript</a></li>
						<li><a href="/#">MySQL</a></li>
					</ul>
				</section>
			</aside>
			<div class="blogitem">
				<div class="autoMenu" id="autoMenu" data-autoMenu></div>
				<%- body%>
			</div>
		</div>
		<footer>
			<div class="footavatar">
				<img src="/images/Project/headphoto.jpg" class="footphoto" />
				<ul class="footinfo">
					<p class="fname"><a href="/home">冰的沸点</a></p>
					<p class="finfo">性别：男 年龄：你猜</p>
					<p>现居：多屯世家</p>
				</ul>
			</div>

			<div class="Copyright">
				<ul>
					<a href="/home">About Me</a
					><a href="/gallery">Demo Workpiece</a
					><a href="/demo">Demo Project</a
					><a href="/contact">Contact Me</a>
				</ul>
				<p>Design by David</p>
			</div>
		</footer>
	</body>
</html>
