<header
	class="ace-container-shift ace-logo-in ace-head-boxed ace-nav-right"
	id="ace-header"
>
	<div class="ace-head-inner">
		<div class="ace-head-container ace-container">
			<div class="ace-head-row">
				<div class="ace-head-col text-left">
					<a class="ace-logo" href="/home" id="ace-logo">
						<img alt="Logo_Stamp" src="images/My Logo/Stamp.png" />
						<img alt="User_Singature" src="images/My Logo/user_signature.jpg" />
					</a>
				</div>
				<div class="ace-head-col text-right" id="ace-head-col2">
					<div class="ace-nav-container ace-container hidden-sm hidden-xs">
						<nav id="ace-main-nav">
							<ul class="clear-list">
								<li>
									<a href="/home">Home</a>
								</li>
								<li>
									<a href="/skill_list">Skill_List</a>
								</li>
								<li>
									<a href="/work_exp">Work_Exp</a>
								</li>
								<li>
									<a href="/blog">Blog</a>
								</li>
								<li>
									<a href="/demo">Demo</a>
								</li>
								<li>
									<a href="/gallery">Gallery</a>
								</li>

								<li>
									<a href="/contact">Contact</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="ace-head-col text-right" id="ace-head-col3">
					<button class="btn btn-icon btn-light btn-shade" id="ace-sidebar-btn">
						<i class="fas fa-th-list fa-2x"></i>
					</button>
				</div>
			</div>
		</div>
		<!-- .ace-container -->
	</div>
	<!-- .ace-head-inner -->
</header>
<!-- #ace-header -->
