<nav class="ace-nav hidden-lg hidden-md" id="ace-nav-sm">
	<ul class="clear-list">
		<li>
			<a data-tooltip="Home" href="/home">
				<i class="fas fa-home fa-2x"></i>
			</a>
		</li>
		<li>
			<a data-tooltip="Skill_List" href="/skill_list">
				<i class="far fa-list-alt fa-2x"></i>
			</a>
		</li>
		<li>
			<a data-tooltip="Work_Exp" href="/work_exp">
				<i class="fas fa-briefcase fa-2x"></i>
			</a>
		</li>
		<li>
			<a data-tooltip="Project" href="/project">
				<i class="fas fa-blog fa-2x"></i>
			</a>
		</li>
		<li>
			<a data-tooltip="Gallery" href="/gallery">
				<i class="fas fa-photo-video fa-2x"></i>
			</a>
		</li>
		<li>
			<a data-tooltip="Demo" href="/demo">
				<i class="fas fa-vial fa-2x"></i>
			</a>
		</li>
		<li>
			<a data-tooltip="Contact" href="/contact">
				<i class="far fa-id-card fa-2x"></i>
			</a>
		</li>
	</ul>
</nav>
<!-- #ace-tab-nav-sm -->
