<article class="ace-card bg-primary" id="ace-card">
  <div class="ace-card-inner text-center">
    <img
      alt=""
      class="avatar avatar-195"
      height="195"
      src="images/My Logo/HeadPhoto_1.jpg"
      width="195"
    />
    <h1>DavidChen</h1>
	<br class="text-muted">BI Developer & </br>
						   Business Strategy Analyst</p>
    <ul class="ace-social clear-list">
      <!-- social media logo  -->
      <li>
        <a href="https://www.linkedin.com" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com" target="_blank">
          <i class="fab fa-facebook"></i>
        </a>
      </li>
      <li>
        <a href="https://www.twitter.com" target="_blank">
          <i class="fab fa-twitter-square"></i>
        </a>
      </li>
      <li>
        <a href="https://www.google.com" target="_blank">
          <i class="fab fa-google-plus-square"></i>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
      <li>
        <a href="https://www.pinterest.ca" target="_blank">
          <i class="fab fa-pinterest-square"></i>
        </a>
      </li>
    </ul>
  </div>
  <footer class="ace-card-footer">
    <a class="btn btn-lg btn-block btn-thin btn-upper" href="./file/Resume.pdf" download
    >Download Resume</a
    ></br>
    <a class="btn btn-lg btn-block btn-thin btn-upper" href = "mailto: bdfd2005@gmail.com">Send Email</a>
  </footer>
</article>
<!-- #ace-card -->
