<div id="ace-sidebar">
	<button id="ace-sidebar-close" class="btn btn-icon btn-light btn-shade">
		<i class="fas fa-th-list"></i>
	</button>

	<div id="ace-sidebar-inner">
		<nav id="ace-main-nav-sm" class="visible-xs visible-sm text-center">
			<ul class="clear-list">
				<li><a href="/home">Home</a></li>
				<li><a href="/work_exp">Work_Exp</a></li>
				<li class="has-sub-menu">
					<a href="#">Blog</a>
					<ul class="sub-menu">
						<li>
							<a href="/blog/01_hotprogrammingin2020">01.2020 Learning Tree </a>
						</li>
						<li>
							<a href="/blog/02_2020WebNavigation">02.Hot Reference Page</a>
						</li>
						<!-- <li><a href="/blog/03">single slider</a></li>
            <li><a href="/blog/04">single youtube</a></li>
            <li><a href="/blog/05">single vimeo</a></li>
            <li><a href="/blog/06">single dailymotion</a></li>
            <li><a href="/blog/07">single soundcloud</a></li>
            <li><a href="/blog/08">single video</a></li>
            <li><a href="/blog/09">single audio</a></li> -->
					</ul>
				</li>
				<li><a href="/gallery">Gallery</a></li>
				<li class="has-sub-menu">
					<a href="/demo">Demo</a>
					<ul class="sub-menu">
						<li>
							<a href="/demo/01Periodic_Table">01.Float_Periodic_Table</a>
						</li>
						<!-- <li><a href="/testimonial/02">components</a></li> -->
					</ul>
				</li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</nav>
		<!-- #ace-main-nav-sm -->

		<article class="ace-card bg-primary">
			<div class="ace-card-inner text-center">
				<img
					class="avatar avatar-195"
					src="images/My Logo/HeadPhoto_3.jpg"
					width="195"
					height="195"
					alt=""
				/>
				<h1>Kelvin Chen</h1>
				<p class="text-muted">BI Dev | BSA</p>
				<ul class="ace-social clear-list">
					<li>
						<a href="https://www.linkedin.com" target="_blank">
							<i class="fab fa-linkedin"></i>
						</a>
					</li>
					<li>
						<a href="https://www.facebook.com" target="_blank">
							<i class="fab fa-facebook"></i>
						</a>
					</li>
					<li>
						<a href="https://www.twitter.com" target="_blank">
							<i class="fab fa-twitter-square"></i>
						</a>
					</li>
					<li>
						<a href="https://www.google.com" target="_blank">
							<i class="fab fa-google-plus-square"></i>
						</a>
					</li>
					<li>
						<a href="https://www.instagram.com" target="_blank">
							<i class="fab fa-instagram"></i>
						</a>
					</li>
					<li>
						<a href="https://www.pinterest.ca" target="_blank">
							<i class="fab fa-pinterest-square"></i>
						</a>
					</li>
				</ul>
			</div>
		</article>
		<!-- #ace-card -->

		<aside class="widget-area">
			<!-- <section class="widget widget_search">
        <form
          role="search"
          method="get"
          class="search-form"
          action="http://www.google.com"
        >
          <label>
            <span class="screen-reader-text">Search for:</span>
            <input
              type="search"
              class="search-field"
              placeholder="Search"
              value=""
              name="s"
            />
          </label>
          <button type="submit" class="search-submit">
            <i class="fas fa-search"></i>
          </button>
        </form>
      </section> -->

			<section class="widget widget_posts_entries">
				<h2 class="widget-title">Top 3 Blog</h2>
				<ul>
					<li>
						<a class="post-image" href="#">
							<img src="images/Blog/2020LearningTree.jpg" alt="2020 Learning Tree" />
						</a>
						<div class="post-content">
							<h3>
								<a href="/blog/01_hotprogrammingin2020">2020 Learning Tree</a>
							</h3>
						</div>
						<div class="post-category-comment">
							<a href="#" class="post-category">Website</a>
							<!-- <a href="#" class="post-comments">256 Views</a> -->
						</div>
					</li>

					<li>
						<a class="post-image" href="#">
							<img src="images/Blog/navgraph.png" alt="nav link" />
						</a>
						<div class="post-content">
							<h3>
								<a href="/blog/02_2020WebNavigation">Hot Reference</a>
							</h3>
						</div>
						<div class="post-category-comment">
							<a href="#" class="post-category">Website</a>
							<!-- <a href="#" class="post-comments">1024 Views</a> -->
						</div>
					</li>

					<li>
						<a class="post-image" href="#">
							<img src="images/Blog/navgraph.png" alt="" />
						</a>
						<div class="post-content">
							<h3><a href="/blog/02_2020WebNavigation"></a>Hot Reference</h3>
						</div>
						<div class="post-category-comment">
							<a href="#" class="post-category">Website</a>
							<!-- <a href="#" class="post-comments">264 Views</a> -->
						</div>
					</li>
				</ul>
			</section>

			<section id="tag_cloud-2" class="widget widget_tag_cloud">
				<h2 class="widget-title">Tags</h2>
				<div class="tagcloud">
					<a
						href="/gallery/01"
						class="tag-link-5 tag-link-position-1"
						title="1 topic"
						style="font-size: 1em"
						>BI Dev</a
					>
					<a
						href="/gallery/02"
						class="tag-link-5 tag-link-position-1"
						title="1 topic"
						style="font-size: 1em"
						>BSA</a
					>
					<a
						href="/gallery/03"
						class="tag-link-7 tag-link-position-2"
						title="1 topic"
						style="font-size: 1em"
						>KPI Analyst</a
					>
				</div>
			</section>

			<section id="recent-posts-3" class="widget widget_recent_entries">
				<h4 class="widget-title">Recent Posts</h4>
				<ul>
					<li>
						<a href="/blog/04">Blog 4 Comming Soon</a>
						<div class="post-category-comment">
							<a href="" class="post-category">unknown</a>
						</div>
					</li>
					<li>
						<a href="/blog/05">Blog 5 Comming Soon</a>
						<div class="post-category-comment">
							<a href="" class="post-category">unknown</a>
						</div>
					</li>
					<li>
						<a href="/blog/06">Blog 6 Comming Soon</a>
						<div class="post-category-comment">
							<a href="" class="post-category">unknown</a>
						</div>
					</li>
				</ul>
			</section>

			<section class="widget widget_categories">
				<h4 class="widget-title">Post Categories</h4>
				<ul>
					<li class="cat-item"><a href="/blog">Website</a>2</li>
					<li class="cat-item"><a href="/blog">Operating System</a>0</li>
					<li class="cat-item"><a href="/blog">Front End</a>0</li>
					<li class="cat-item"><a href="/blog">Back End</a>0</li>
					<li class="cat-item"><a href="/blog">Database</a>0</li>
					<li class="cat-item"><a href="/demo">Demo</a>1</li>
					<li class="cat-item"><a href="/gallery">Personal MasterPiece</a>2</li>
				</ul>
			</section>
		</aside>
	</div>
	<!-- #ace-sidebar-inner -->
</div>
<!-- #ace-sidebar -->
