<div id="ace-nav-wrap" class="hidden-sm hidden-xs">
	<div class="ace-nav-cont">
		<div id="ace-nav-scroll">
			<nav id="ace-nav" class="ace-nav">
				<ul class="clear-list">
					<li>
						<a href="/home" data-tooltip="Home"
							><img
								class="avatar avatar-42"
								src="images/My Logo/HeadPhoto_2.jpg"
								alt="DavidChen HeadPhoto 2"
						/></a>
					</li>
					<li>
						<a data-tooltip="Skill_List" href="/skill_list">
							<i class="far fa-list-alt"></i>
						</a>
					</li>
					<li>
						<a data-tooltip="Work_Exp" href="/work_exp">
							<i class="fas fa-briefcase"></i>
						</a>
					</li>
					<li>
						<a data-tooltip="Project" href="/project">
							<i class="fas fa-blog"></i>
						</a>
					</li>
					<li>
						<a data-tooltip="Gallery" href="/gallery">
							<i class="fas fa-photo-video"></i>
						</a>
					</li>
					<li>
						<a data-tooltip="Testimonial" href="/demo">
							<i class="fas fa-vial"></i>
						</a>
					</li>
					<li>
						<a data-tooltip="Contact" href="/contact">
							<i class="far fa-id-card"></i>
						</a>
					</li>
				</ul>
			</nav>
		</div>

		<div id="ace-nav-tools" class="hidden">
			<span class="ace-icon ace-icon-dots-three-horizontal"></span>

			<button id="ace-nav-arrow" class="clear-btn">
				<span class="ace-icon ace-icon-chevron-thin-down"></span>
			</button>
		</div>
	</div>
	<div class="ace-nav-btm"></div>
</div>
<!-- .ace-nav-wrap -->
