<script>
  document.title = 'Project Demo';
</script>

<div id="ace-content" class="ace-container-shift">
  <div class="ace-container">
    <%- include('../partials/small_navigation') %>

    <div class="ace-paper-stock">
      <main class="ace-paper clearfix">
        <div class="ace-paper-cont clear-mrg">
          <!-- START: PAGE CONTENT -->

          <div class="padd-box">
            <section class="section clear-mrg">
              <h2 class="title-lg text-upper">References Project</h2>

              <div class="padd-box-sm clear-mrg">
                <div class="ref-box brd-btm hreview">
                  <div class="ref-avatar">
                    <img
                      alt="CHEM PT"
                      src="images/Demo/Periodic Table.jpg"
                      class="avatar avatar-54 photo"
                      height="54"
                      width="54"
                    />
                  </div>

                  <div class="ref-info">
                    <div class="ref-author">
                      <strong>Demo 1 : Float Periodic Table</Table></strong>
                      <span>Kelvin Chen 2020-02-08</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                      <p>
                        In this demo page demonstrate the periodic table in four different
                        formats include table, sphere, helix, and grid. This demo is only use 
                        pure javascript and css .
                      </p>
                    </blockquote>
                  </div>
                </div>
                <!-- .ref-box -->

                <!-- <div class="ref-box brd-btm hreview">
                  <div class="ref-avatar">
                    <img
                      alt=""
                      src="img/uploads/avatar/avatar-54x54-02.png"
                      class="avatar avatar-54 photo"
                      height="54"
                      width="54"
                    />
                  </div>

                  <div class="ref-info">
                    <div class="ref-author">
                      <strong>Project Name</strong>
                      <span>Project Author</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                      <p>
                        Project Descriptions:
                        Your brand is the core of your marketing, the central
                        theme around your products and services.Your brand is
                        not your Logo or your Company Name
                      </p>
                    </blockquote>
                  </div>
                </div> -->
                <!-- .ref-box -->

                <!-- .ref-box -->
              </div>
              <!-- .padd-box-sm -->
            </section>
            <!-- .section -->

            <section class="section clear-mrg">
              <h2 class="title-lg text-upper">Demo Project</h2>
              <div class="padd-box-sm">
                <ul class="clients">
                  <li>
                    Demo_1:Periodic Table
                    <a href="/demo/01Periodic_Table"
                      ><img src="images/Demo/Periodic Table.jpg" alt="CHEM PT"
                    /></a>
                  </li>
                  <!--<li>
                    Demo_1:Periodic Table
                    <a href="/demo/01Periodic_Table"
                      ><img src="images/Demo/Periodic Table.jpg" alt="CHEM PT"
                    /></a>
                  </li>
                  <li>
                    Demo_1:Periodic Table
                    <a href="/demo/01Periodic_Table"
                      ><img src="images/Demo/Periodic Table.jpg" alt="CHEM PT"
                    /></a>
                  </li>
                                    <li>
                    Demo_1:Periodic Table
                    <a href="/demo/01Periodic_Table"
                      ><img src="images/Demo/Periodic Table.jpg" alt="CHEM PT"
                    /></a>
                  </li>
                                    <li>
                    Demo_1:Periodic Table
                    <a href="/demo/01Periodic_Table"
                      ><img src="images/Demo/Periodic Table.jpg" alt="CHEM PT"
                    /></a>
                  </li>
                                    <li>
                    Demo_1:Periodic Table
                    <a href="/demo/01Periodic_Table"
                      ><img src="images/Demo/Periodic Table.jpg" alt="CHEM PT"
                    /></a>
                  </li>-->
                </ul>
              </div>
              <!-- .padd-box-sm -->
            </section>
            <!-- .section -->
          </div>
          <!-- .padd-box -->

          <!-- END: PAGE CONTENT -->
        </div>
        <!-- .ace-paper-cont -->
      </main>
      <!-- .ace-paper -->
    </div>
    <!-- .ace-paper-stock -->
  </div>
  <!-- .ace-container -->
</div>
<!-- #ace-content -->
