<script>
  document.title = 'Masterpiece Show Room';
</script>

<div id="ace-content" class="ace-container-shift">
  <div class="ace-container">
    <%- include('../partials/small_navigation') %>
    <div class="ace-paper-stock">
      <main class="ace-paper clearfix">
        <div class="ace-paper-cont clear-mrg">
          <!-- START: PAGE CONTENT -->

          <div class="padd-box">
            <h1 class="title-lg text-upper">Portfolio</h1>
            <a
              href="https://www.google.com"
              target="_blank"
              class="pf-btn-view btn btn-primary"
            >
              <i class="fab fa-staylinked">Click view DEMO WORKSTATION</i>
            </a>
          </div>
          <br />
          <div class="pf-wrap">
            <div class="pf-filter padd-box">
              <button data-filter="*" class="active">All</button>
              <button data-filter=".poetry">Poetry Calligraphy</button>
              <button data-filter=".sketch">Character Design</button>
            </div>
            <!-- .pf-filter -->

            <div
              class="pf-grid loaded"
              style="position: relative; height: 1093.49px;"
            >
              <div class="pf-grid-sizer"></div>
              <!-- used for sizing -->

              <div
                class="pf-grid-item poetry"
                style="position: absolute; left: 0%; top: 0px;"
              >
                <div class="project">
                  <figure class="portfolio-figure">
                    <img
                      src="images/Portfolio/poetry_calligraphy_1.jpg"
                      alt="calligraphy example"
                    />
                  </figure>

                  <div class="portfolio-caption text-center">
                    <div class="valign-table">
                      <div class="valign-cell">
                        <h2 class="text-upper">Poetry Calligraphy_1</h2>
                        <p>
                          2020 New Start
                        </p>
                        <a
                          href="#pf-popup-1"
                          class="pf-btn-view btn btn-primary"
                          >View More</a
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <div id="pf-popup-1" class="pf-popup clearfix">
                  <div class="pf-popup-col1">
                    <img
                      src="images/Portfolio/poetry_calligraphy_1.jpg"
                      alt="poetry_calligraphy"
                    />
                    <div class="pf-popup-media"></div>
                  </div>
                  <!-- .pf-popup-col1 -->

                  <div class="pf-popup-col2">
                    <div class="pf-popup-info clear-mrg">
                      <h2 class="text-upper">2020 扬帆启航</h2>
                      <p class="text-muted">
                        <strong>Poetry Calligraphy</strong>
                      </p>
                      <dl class="dl-horizontal">
                        <dt>Date:</dt>
                        <dd>2019/12/22</dd>
                        <dt>Site link:</dt>
                        <dd>
                          <a
                            href="https://www.google.com"
                            target="_blank"
                            class="pf-btn-view btn btn-primary"
                          >
                            Click view more...
                          </a>
                        </dd>
                        <dt>Autho:</dt>
                        <dd>冰的沸点</dd>
                      </dl>
                      <p>
                        你背单词时,阿拉斯加的鳕鱼正在跃出海面;<br />
                        你算数学时,太平洋的彼岸的海鸥振翅越过城市上空;<br />
                        你挑灯夜读时,北极圈的 夜晚散发着五彩斑斓;<br />
                        但是，你别着急，当你为未来努力奋斗时;<br />
                        那些你觉得一辈子都不会见到的景色;<br />
                        那些你觉得终生都不会遇见的人;<br />
                        正一步步向你走来！<br />
                        加油,2020！<br />
                      </p>
                    </div>
                    <!-- .pf-popup-info -->
                  </div>
                  <!-- .pf-popup-col2 -->
                </div>
                <!-- .pf-popup -->
              </div>
              <!-- .pf-grid-item -->

              <div
                class="pf-grid-item sketch"
                style="position: absolute; left: 50%; top: 0px;"
              >
                <div class="project">
                  <figure class="portfolio-figure">
                    <img
                      src="images/Portfolio/character_sketch_1.jpg"
                      alt="character_sketch"
                    />
                  </figure>

                  <div class="portfolio-caption text-center">
                    <div class="valign-table">
                      <div class="valign-cell">
                        <h2 class="text-upper">Character_Sketch_1</h2>
                        <p>
                          火影_佐助
                        </p>
                        <a
                          href="#pf-popup-2"
                          class="pf-btn-view btn btn-primary"
                          >View More</a
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <div id="pf-popup-2" class="pf-popup clearfix">
                  <div class="pf-popup-col1">
                    <img
                      src="images/Portfolio/character_sketch_1.jpg"
                      alt="poetry_calligraphy"
                      width="200%"
                      height="200%"
                    />
                  </div>
                  <!-- .pf-popup-col1 -->

                  <div class="pf-popup-col2">
                    <div class="pf-popup-info clear-mrg">
                      <h2 class="text-upper">Naruto_Uchiha Sasuka</h2>
                      <p class="text-muted">
                        <strong>Character_Sketch</strong>
                      </p>
                      <dl class="dl-horizontal">
                        <dt>Date:</dt>
                        <dd>2019/10/15</dd>

                        <dt>Site link:</dt>
                        <dd>
                          <a
                            href="https://www.google.com"
                            target="_blank"
                            class="pf-btn-view btn btn-primary"
                          >
                            Click view more...
                          </a>
                        </dd>
                        <dt>Author:</dt>
                        <dd>冰的沸点</dd>
                      </dl>
                      <p>
                        相对于佐助，我更喜欢鸣人。<br />
                        但是这个随笔 好画呀。<br />
                        哈哈哈
                      </p>
                    </div>
                    <!-- .pf-popup-info -->
                  </div>
                  <!-- .pf-popup-col2 -->
                </div>
                <!-- .pf-popup -->
              </div>
              <!-- .pf-grid-item -->

              <!-- <div
                class="pf-grid-item poetry"
                style="position: absolute; left: 0%; top: 273px;"
              >
                <div class="project">
                  <figure class="portfolio-figure">
                    <img
                      src="images/Portfolio/poetry_calligraphy_2.jpg"
                      alt=""
                    />
                  </figure>

                  <div class="portfolio-caption text-center">
                    <div class="valign-table">
                      <div class="valign-cell">
                        <h2 class="text-upper">stu unger rise3</h2>
                        <p>
                          Accessories Here you can find the best computer
                          monitor, printer, scanner, speaker, projector.
                          hardware and more
                        </p>
                        <a
                          href="#pf-popup-1"
                          class="pf-btn-view btn btn-primary"
                          >View More</a
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <div id="pf-popup-3" class="pf-popup clearfix">
                  <div class="pf-popup-col1">
                    <div class="pf-popup-media"></div>
                  </div>
                  .pf-popup-col1

                  <div class="pf-popup-col2">
                    <div class="pf-popup-info clear-mrg">
                      <h2 class="text-upper">Project Title</h2>
                      <p class="text-muted">
                        <strong>design / development</strong>
                      </p>
                      <dl class="dl-horizontal">
                        <dt>Date:</dt>
                        <dd>11 Jan 2012</dd>

                        <dt>Site link:</dt>
                        <dd>
                          <a href="www.sitedomen.com">www.sitedomen.com</a>
                        </dd>

                        <dt>Client:</dt>
                        <dd>11 Jan 2012</dd>
                      </dl>
                      <p>
                        About 64% of all on-line teens say that do things online
                        that they wouldn’t want their parents to know about. 11%
                        of all adult internet users visit dating websites and
                        spend their time in chatrooms. Some of the classify
                        their behavior as “cyber affair” More then 60% of
                        employees use company PC for the personal needs during
                        their work hours as long as 80 minutes per day.
                      </p>
                    </div>
                    .pf-popup-info
                  </div>
                  .pf-popup-col2
                </div>
                .pf-popup
              </div> -->
              <!-- .pf-grid-item -->

              <!-- <div
                class="pf-grid-item sketch"
                style="position: absolute; left: 0%; top: 546px;"
              >
                <div class="project">
                  <figure class="portfolio-figure">
                    <img src="images/Portfolio/character_sketch_2.jpg" alt="" />
                  </figure>

                  <div class="portfolio-caption text-center">
                    <div class="valign-table">
                      <div class="valign-cell">
                        <h2 class="text-upper">stu unger rise4</h2>
                        <p>
                          Accessories Here you can find the best computer
                          monitor, printer, scanner, speaker, projector.
                          hardware and more
                        </p>
                        <a
                          href="#pf-popup-4"
                          class="pf-btn-view btn btn-primary"
                          >View More</a
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <div id="pf-popup-4" class="pf-popup clearfix">
                  <div class="pf-popup-col1">
                    <div class="pf-popup-media"></div>
                  </div>
                  .pf-popup-col1

                  <div class="pf-popup-col2">
                    <div class="pf-popup-info clear-mrg">
                      <h2 class="text-upper">Project Title</h2>
                      <p class="text-muted">
                        <strong>design / development</strong>
                      </p>
                      <dl class="dl-horizontal">
                        <dt>Date:</dt>
                        <dd>11 Jan 2012</dd>

                        <dt>Site link:</dt>
                        <dd>
                          <a href="www.sitedomen.com">www.sitedomen.com</a>
                        </dd>

                        <dt>Client:</dt>
                        <dd>11 Jan 2012</dd>
                      </dl>
                      <p>
                        About 64% of all on-line teens say that do things online
                        that they wouldn’t want their parents to know about. 11%
                        of all adult internet users visit dating websites and
                        spend their time in chatrooms. Some of the classify
                        their behavior as “cyber affair” More then 60% of
                        employees use company PC for the personal needs during
                        their work hours as long as 80 minutes per day.
                      </p>
                    </div>
                    .pf-popup-info
                  </div>
                  .pf-popup-col2
                </div>
                .pf-popup
              </div> -->
              <!-- .pf-grid-item -->

              <!-- <div
                class="pf-grid-item poetry"
                style="position: absolute; left: 50%; top: 546px;"
              >
                <div class="project">
                  <figure class="portfolio-figure">
                    <img
                      src="images/Portfolio/poetry_calligraphy_3.jpg"
                      alt=""
                    />
                  </figure>

                  <div class="portfolio-caption text-center">
                    <div class="valign-table">
                      <div class="valign-cell">
                        <h2 class="text-upper">stu unger rise5</h2>
                        <p>
                          Accessories Here you can find the best computer
                          monitor, printer, scanner, speaker, projector.
                          hardware and more
                        </p>
                        <a
                          href="#pf-popup-5"
                          class="pf-btn-view btn btn-primary"
                          >View More</a
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <div id="pf-popup-5" class="pf-popup clearfix">
                  <div class="pf-popup-col1">
                    <div class="pf-popup-media"></div>
                  </div>
                  .pf-popup-col1

                  <div class="pf-popup-col2">
                    <div class="pf-popup-info clear-mrg">
                      <h2 class="text-upper">Project Title</h2>
                      <p class="text-muted">
                        <strong>design / development</strong>
                      </p>
                      <dl class="dl-horizontal">
                        <dt>Date:</dt>
                        <dd>11 Jan 2012</dd>

                        <dt>Site link:</dt>
                        <dd>
                          <a href="www.sitedomen.com">www.sitedomen.com</a>
                        </dd>

                        <dt>Client:</dt>
                        <dd>11 Jan 2012</dd>
                      </dl>
                      <p>
                        About 64% of all on-line teens say that do things online
                        that they wouldn’t want their parents to know about. 11%
                        of all adult internet users visit dating websites and
                        spend their time in chatrooms. Some of the classify
                        their behavior as “cyber affair” More then 60% of
                        employees use company PC for the personal needs during
                        their work hours as long as 80 minutes per day.
                      </p>
                    </div>
                    .pf-popup-info
                  </div>
                  .pf-popup-col2
                </div>
                .pf-popup
              </div> -->
              <!-- .pf-grid-item -->

              <!-- <div
                class="pf-grid-item poetry"
                style="position: absolute; left: 0%; top: 819px;"
              >
                <div class="project">
                  <figure class="portfolio-figure">
                    <img
                      src="images/Portfolio/poetry_calligraphy_4.jpg"
                      alt=""
                    />
                  </figure>

                  <div class="portfolio-caption text-center">
                    <div class="valign-table">
                      <div class="valign-cell">
                        <h2 class="text-upper">stu unger rise6</h2>
                        <p>
                          Accessories Here you can find the best computer
                          monitor, printer, scanner, speaker, projector.
                          hardware and more
                        </p>
                        <a
                          href="#pf-popup-6"
                          class="pf-btn-view btn btn-primary"
                          >View More</a
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <div id="pf-popup-6" class="pf-popup clearfix">
                  <div class="pf-popup-col1">
                    <div class="pf-popup-media"></div>
                  </div>
                  .pf-popup-col1

                  <div class="pf-popup-col2">
                    <div class="pf-popup-info clear-mrg">
                      <h2 class="text-upper">Project Title</h2>
                      <p class="text-muted">
                        <strong>design / development</strong>
                      </p>
                      <dl class="dl-horizontal">
                        <dt>Date:</dt>
                        <dd>11 Jan 2012</dd>

                        <dt>Site link:</dt>
                        <dd>
                          <a href="www.sitedomen.com">www.sitedomen.com</a>
                        </dd>

                        <dt>Client:</dt>
                        <dd>11 Jan 2012</dd>
                      </dl>
                      <p>
                        About 64% of all on-line teens say that do things online
                        that they wouldn’t want their parents to know about. 11%
                        of all adult internet users visit dating websites and
                        spend their time in chatrooms. Some of the classify
                        their behavior as “cyber affair” More then 60% of
                        employees use company PC for the personal needs during
                        their work hours as long as 80 minutes per day.
                      </p>
                    </div>
                    .pf-popup-info
                  </div>
                  .pf-popup-col2
                </div>
                .pf-popup
              </div> -->
              <!-- .pf-grid-item -->

              <!-- <div
                class="pf-grid-item sketch"
                style="position: absolute; left: 50%; top: 820px;"
              >
                <div class="project">
                  <figure class="portfolio-figure">
                    <img src="images/Portfolio/character_sketch_3.jpg" alt="" />
                  </figure>

                  <div class="portfolio-caption text-center">
                    <div class="valign-table">
                      <div class="valign-cell">
                        <h2 class="text-upper">stu unger rise7</h2>
                        <p>
                          Accessories Here you can find the best computer
                          monitor, printer, scanner, speaker, projector.
                          hardware and more
                        </p>
                        <a
                          href="#pf-popup-7"
                          class="pf-btn-view btn btn-primary"
                          >View More</a
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <div id="pf-popup-7" class="pf-popup clearfix">
                  <div class="pf-popup-col1">
                    <div class="pf-popup-media"></div>
                  </div>
                  .pf-popup-col1

                  <div class="pf-popup-col2">
                    <div class="pf-popup-info clear-mrg">
                      <h2 class="text-upper">Project Title</h2>
                      <p class="text-muted">
                        <strong>design / development</strong>
                      </p>
                      <dl class="dl-horizontal">
                        <dt>Date:</dt>
                        <dd>11 Jan 2012</dd>

                        <dt>Site link:</dt>
                        <dd>
                          <a href="www.sitedomen.com">www.sitedomen.com</a>
                        </dd>

                        <dt>Client:</dt>
                        <dd>11 Jan 2012</dd>
                      </dl>
                      <p>
                        About 64% of all on-line teens say that do things online
                        that they wouldn’t want their parents to know about. 11%
                        of all adult internet users visit dating websites and
                        spend their time in chatrooms. Some of the classify
                        their behavior as “cyber affair” More then 60% of
                        employees use company PC for the personal needs during
                        their work hours as long as 80 minutes per day.
                      </p>
                    </div>
                    .pf-popup-info
                  </div>
                  .pf-popup-col2
                </div>
                .pf-popup
              </div>
              .pf-grid-item
            </div>
            .pf-grid
          </div> -->
          <!-- .pf-wrap -->

          <!-- END: PAGE CONTENT -->
        </div>
        <!-- .ace-paper-cont -->
      </main>
      <!-- .ace-paper -->
    </div>
    <!-- .ace-paper-stock -->
    <!-- .ace-paper-stock -->
  </div>
  <!-- .ace-container -->
</div>
<!-- #ace-content -->
