<script>
	document.title = 'Resume Home Page';
</script>

<div id="ace-content" class="ace-container-shift">
	<div class="ace-container">
		<%- include('../partials/small_navigation') %>
		<div class="ace-paper-stock">
			<main class="ace-paper clearfix">
				<div class="ace-paper-cont clear-mrg">
					<!-- START: PAGE CONTENT -->
					<div class="padd-box clear-mrg">
						<!-- Summary Section -->
						<%- include('../PageEdit/A1_HomePage_SummarySection') %>
						<!-- Summary Section -->
						<!-- Personal Info Section -->
						<%- include('../PageEdit/A1_HomePage_PersonalInfoSection') %>
						<!-- Personal Info Section -->
						<!-- Qualification Section -->
						<%- include('../PageEdit/A1_HomePage_QualificationSection') %>
						<!-- Qualification Section -->
					<!-- END: PAGE CONTENT -->
				</div>
				<!-- .ace-paper-cont -->
			</main>
			<!-- .ace-paper -->
		</div>
		<!-- .ace-paper-stock -->
	</div>
	<!-- .ace-container -->
</div>
<!-- #ace-content -->
