<body>
	<div
		id="particles-js"
		style="display: flex; align-items: center; justify-content: center"
	></div>
	<div class="login-page">
		<div class="login-content">
			<img
				class="login-pic"
				src="images/My Logo/HeadPhoto_1.jpg"
				alt="DavidPhoto"
			/><br />
			<a href="/home"
				><img
					class="login-signature"
					src="images/My Logo/user_signature.gif"
					alt="DavidChen Signature"
			/></a>
		</div>
	</div>
</body>
