<script>
  document.title = "Resume Home Page";
</script>

<div id="ace-content" class="ace-container-shift">
  <div class="ace-container">
    <%- include('../partials/small_navigation') %>

    <div class="ace-paper-stock">
      <main class="ace-paper clearfix">
        <div class="ace-paper-cont clear-mrg">
          <!-- START: PAGE CONTENT -->
          <div class="padd-box clear-mrg">
            <section class="section brd-btm">
              <div class="row">
                <div class="col-sm-6 clear-mrg">
                  <h2 class="title-thin text-muted">
                    SKill Highlight
                  </h2>
                  <i class="fas fa-tasks"></i> Project Management <br /><br />
                  <i class="fas fa-filter"></i> Process Optimization<br /><br />
                  <i class="fas fa-puzzle-piece"></i> Collaborative Problem Solving <br /><br />
                  <i class="fas fa-users-cog"></i> Cross Function Team Leadership <br /><br />
                  <i class="fas fa-trophy"></i> Software Development Life Cycle
                </div>
                <!-- .col-sm-6 -->

                <div class="col-sm-6 clear-mrg">
                  <h2 class="title-thin text-muted">Industry Knowledge</h2>

                  <div
                    class="progress-line ace-animate"
                    role="progressbar"
                    aria-valuenow="90"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  >
                    <strong class="progress-title"
                      >Business Strategic Planning</strong
                    >
                    <div
                      class="progress-bar"
                      data-text="90%"
                      data-value="0.9"
                    ></div>
                  </div>

                  <div
                    class="progress-line ace-animate"
                    role="progressbar"
                    aria-valuenow="85"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  >
                    <strong class="progress-title"
                      >Business Intelligence</strong
                    >
                    <div
                      class="progress-bar"
                      data-text="85%"
                      data-value="0.85"
                    ></div>
                  </div>

                  <div
                    class="progress-line ace-animate"
                    role="progressbar"
                    aria-valuenow="85"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  >
                    <strong class="progress-title"
                      >Project Management(Agile/Scrum)</strong
                    >
                    <div
                      class="progress-bar"
                      data-text="85%"
                      data-value="0.85"
                    ></div>
                  </div>

                  <div
                    class="progress-line ace-animate"
                    role="progressbar"
                    aria-valuenow="80"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  >
                    <strong class="progress-title"
                      >Process Optimization</strong>
                    <div
                      class="progress-bar"
                      data-text="80%"
                      data-value="0.8"
                    ></div>
                  </div>

                </div>
                <!-- .col-sm-6 -->
              </div>
              <!-- .row -->
            </section>
            <!-- .section -->

            <section class="section brd-btm">
              <div class="row">
                <div class="col-sm-6 clear-mrg">
                  <h2 class="title-thin text-muted">
                    Data Visualization Tools
                  </h2>

                  <div class="row">
                    <div class="col-xs-4">
                      <div
                        class="progress-chart ace-animate"
                        role="progressbar"
                        aria-valuenow="90"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      >
                        <div
                          class="progress-bar"
                          data-text="90%"
                          data-value="0.9"
                        ></div>
                        <strong class="progress-title">MySQL</strong>
                      </div>
                    </div>
                    <!-- .col-xs-4 -->

                    <div class="col-xs-4">
                      <div
                        class="progress-chart ace-animate"
                        role="progressbar"
                        aria-valuenow="85"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      >
                        <div
                          class="progress-bar"
                          data-text="85%"
                          data-value="0.85"
                        ></div>
                        <strong class="progress-title">Power BI</strong>
                      </div>
                    </div>
                    <!-- .col-xs-4 -->

                    <div class="col-xs-4">
                      <div
                        class="progress-chart ace-animate"
                        role="progressbar"
                        aria-valuenow="80"
                        aria-valuemin="0"
                        aria-valuemax="80"
                      >
                        <div
                          class="progress-bar"
                          data-text="80%"
                          data-value="0.80"
                        ></div>
                        <strong class="progress-title"
                          >Tableau</strong
                        >
                      </div>
                    </div>
                    <!-- .col-xs-4 -->
                  </div>
                  <!-- .row -->
                </div>
                <!-- .col-sm-6 -->

                <div class="col-sm-6 clear-mrg">
                  <h2 class="title-thin text-muted">Information Technology</h2>

                  <div
                    class="progress-line ace-animate"
                    role="progressbar"
                    aria-valuenow="95"
                    aria-valuemin="0"
                    aria-valuemax="95"
                  >
                    <strong class="progress-title">Operating System : Linux</strong>
                    <div
                      class="progress-bar"
                      data-text="95%"
                      data-value="0.95"
                    ></div>
                  </div>

                  <div
                    class="progress-line ace-animate"
                    role="progressbar"
                    aria-valuenow="85"
                    aria-valuemin="0"
                    aria-valuemax="85"
                  >
                    <strong class="progress-title">CI & CD : Docker</strong>
                    <div
                      class="progress-bar"
                      data-text="85%"
                      data-value="0.85"
                    ></div>
                  </div>

                  <div
                    class="progress-line ace-animate"
                    role="progressbar"
                    aria-valuenow="85"
                    aria-valuemin="0"
                    aria-valuemax="85"
                  >
                    <strong class="progress-title">Version Control : Git(GitHub)</strong>
                    <div
                      class="progress-bar"
                      data-text="85%"
                      data-value="0.85"
                    ></div>
                  </div>

                </div>
                <!-- .col-sm-6 -->
              </div>
              <!-- .row -->
            </section>
            <!-- .section -->

            <section class="section brd-btm">
              <div class="row">
                <div class="col-sm-12 clear-mrg">
                  <h2 class="title-thin text-muted">Technical Skill List</h2>
                    <p><i class="fas fa-laptop"> Opearting System(OS):</i><br>Linux(CentOS,Debian,Ubuntu),Windows(10,7,XP),MacOS</p>
                    <p><i class="fas fa-cloud-upload-alt"> Apllication Deploy Platform:</i><br>Google Cloud Platform(GCP 3-Yrs), Amazon Web Services(AWS 1-Yrs)</p>
                    <p><i class="fas fa-server"> Platform as a Service(Paas):</i><br>Heroku</p>
                    <p><i class="fas fa-file-code"> Back-End:</i><br>Python, Node.js, Javascript, Typescript</p>
                    <p><i class="far fa-file-code"> Front-End:</i><br>React, Vue, Angular, CSS3, HTML5</p>
                    <p><i class="fas fa-database"> SQL & NoSQL Database:</i><br>MySQL, MongoDB, Redis</p>
                    <p><i class="fas fa-code-branch"></i> Source Control:</i><br>Git(Github), SVN(Tortoise)</p>
                    <p><i class="fas fa-pager"> Continuous Build:</i><br>Webpack</p>
                    <p><i class="fas fa-upload"> Continuous Integration:</i><br>Jerkins, CircleCI, GitLab</p>
                    <p><i class="fas fa-trophy"> Continuous Deploy:</i><br>Kubernetes, Docker</p>
                    <p><i class="fas fa-chart-pie"> Business Intelligence:</i><br>Power BI, Tableau</p>
                    <p><i class="fas fa-chart-line"> Statistics:</i><br>SPSS, SAS</p>
                    <!-- <p><i class="fas fa-file-image">Source Control:</i></p>
                    <p><i class="fas fa-file-image">Source Control:</i></p> -->
                  <!-- <ul class="icon-list icon-list-col3 clearfix">
                    <li>
                      <i class="fab fa-html5"></i>/<i
                        class="fas fa-file-code"
                      ></i>
                      HTML5 / CSS3
                    </li>
                    <li><i class="fas fa-list-alt"></i> Resource Planning</li>
                  </ul> -->
                </div>
              </div>
            </section>
            <!-- .section -->

            <!-- <section class="section">
							<h2 class="title-thin text-muted">Awards & Certificate</h2>

							<div class="row">
								<div class="col-sm-6 clear-mrg">
									<div class="award-box">
										<figure class="award-img">
											<img src="image for award/certificate" alt="" />
										</figure>

										<h3 class="award-title">Certificate</h3>

										<div class="award-text text-muted clear-mrg">
											<p>
												Certificate Explainations
											</p>
										</div>
									</div>
								</div>
								.col-sm-6

																<div class="col-sm-6 clear-mrg">
									<div class="award-box">
										<figure class="award-img">
											<img src="image for award/certificate" alt="" />
										</figure>

										<h3 class="award-title">Certificate</h3>

										<div class="award-text text-muted clear-mrg">
											<p>
												Certificate Explainations
											</p>
										</div>
									</div>
								</div>
								.col-sm-6
							</div>
							.row
						</section>
						.section -->
          </div>
          <!-- .padd-box -->
          <!-- END: PAGE CONTENT -->
        </div>
        <!-- .ace-paper-cont -->
      </main>
      <!-- .ace-paper -->
    </div>
    <!-- .ace-paper-stock -->
  </div>
  <!-- .ace-container -->
</div>
<!-- #ace-content -->
