<script>
	document.title = 'Work Experience';
</script>

<div id="ace-content" class="ace-container-shift">
	<div class="ace-container">
		<%- include('../partials/small_navigation') %>
		<div class="ace-paper-stock">
			<main class="ace-paper clearfix">
				<div class="ace-paper-cont clear-mrg">
					<!-- START: PAGE CONTENT -->
					<div class="padd-box">
						<!-- Working History Section -->
						<%- include('../PageEdit/A3_WorkExpPage_WorkingHistorySection') %>
						<!-- Working History Section -->
						<!-- Education History Section -->
						<%- include('../PageEdit/A3_WorkExpPage_EducationHistorySection') %>
						<!-- Education History Section -->
						<!-- Education History Section -->
						<%- include('../PageEdit/A3_WorkExpPage_InterestSection') %>
						<!-- Education History Section -->
					</div>
					<!-- .padd-box -->
					<!-- END: PAGE CONTENT -->
				</div>
				<!-- .ace-paper-cont -->
			</main>
			<!-- .ace-paper -->
		</div>
		<!-- .ace-paper-stock -->
	</div>
	<!-- .ace-container -->
</div>
<!-- #ace-content -->
