<script>
	document.title = 'Work Experience';
</script>

<div id="ace-content" class="ace-container-shift">
	<div class="ace-container">
		<%- include('../partials/small_navigation') %>
		<div class="ace-paper-stock">
			<main class="ace-paper clearfix">
				<div class="ace-paper-cont clear-mrg">
					<!-- START: PAGE CONTENT -->
					<div class="padd-box">
						<section class="section clear-mrg">
							<h2 class="title-lg text-upper">Working Experience</h2>
							<div class="padd-box-sm clear-mrg">
								<div class="ref-box brd-btm hreview">
									<div class="ref-avatar">
										<img alt="Company Logo" src="images/My Exp/FreeLancerLogo.jpg"
											class="avatar avatar-54 photo" height="54" width="54" />
									</div>
									<div class="ref-info">
										<div class="ref-author">
											<strong>Full Stack Developer</strong>
											<strong>Devops /Cloud Engineering</strong>
											<span>Self Employed • Freelancer</span>
											<span>Jan,2016 - Present</span>
										</div>
										<blockquote class="ref-cont clear-mrg">
											<!-- <p><i class="fab fa-gg"></i> Application Depoly Platform：GCP(3 years), AWS(1 year +), Heroku
											</p>
											<p><i class="fas fa-trophy"></i> 123
											</p> -->
										</blockquote>
									</div>
								</div>
								<!-- .exp-box-1 -->
								<div class="ref-box brd-btm hreview">
									<div class="ref-avatar">
										<img alt="Company Logo" src="images/My Exp/FreeLancerLogo.jpg"
											class="avatar avatar-54 photo" height="54" width="54" />
									</div>
									<div class="ref-info">
										<div class="ref-author">
											<strong>Full Stack Developer</strong>
											<strong>Devops /Cloud Engineering</strong>
											<span>Self Employed • Freelancer</span>
											<span>Jan,2016 - Present</span>
										</div>
										<blockquote class="ref-cont clear-mrg">
											<!-- <p><i class="fab fa-gg"></i> Application Depoly Platform：GCP(3 years), AWS(1 year +), Heroku
											</p>
											<p><i class="fas fa-trophy"></i> 123
											</p> -->
										</blockquote>
									</div>
								</div>
								<!-- .exp-box-2 -->
								<div class="ref-box brd-btm hreview">
									<div class="ref-avatar">
										<img alt="Company Logo" src="images/My Exp/FreeLancerLogo.jpg"
											class="avatar avatar-54 photo" height="54" width="54" />
									</div>
									<div class="ref-info">
										<div class="ref-author">
											<strong>Full Stack Developer</strong>
											<strong>Devops /Cloud Engineering</strong>
											<span>Self Employed • Freelancer</span>
											<span>Jan,2016 - Present</span>
										</div>
										<blockquote class="ref-cont clear-mrg">
											<!-- <p><i class="fab fa-gg"></i> Application Depoly Platform：GCP(3 years), AWS(1 year +), Heroku
											</p>
											<p><i class="fas fa-trophy"></i> 123
											</p> -->
										</blockquote>
									</div>
								</div>
								<!-- .exp-box-3 -->
								<div class="ref-box brd-btm hreview">
									<div class="ref-avatar">
										<img alt="Company Logo" src="images/My Exp/FreeLancerLogo.jpg"
											class="avatar avatar-54 photo" height="54" width="54" />
									</div>
									<div class="ref-info">
										<div class="ref-author">
											<strong>Full Stack Developer</strong>
											<strong>Devops /Cloud Engineering</strong>
											<span>Self Employed • Freelancer</span>
											<span>Jan,2016 - Present</span>
										</div>
										<blockquote class="ref-cont clear-mrg">
											<!-- <p><i class="fab fa-gg"></i> Application Depoly Platform：GCP(3 years), AWS(1 year +), Heroku
											</p>
											<p><i class="fas fa-trophy"></i> 123
											</p> -->
										</blockquote>
									</div>
								</div>
								<!-- .exp-box-4 -->
								<div class="ref-box brd-btm hreview">
									<div class="ref-avatar">
										<img alt="University UofT Logo" src="images/My Exp/UofT.png"
											class="avatar avatar-54 photo" height="54" width="54" />
									</div>
									<div class="ref-info">
										<div class="ref-author">
											<strong>UNIVERSITY OF TORONTO (Downtown Campus)</strong>
											<p>Bachelor of Applied Science(BASc)<br>
												Minor: Economics and Finance</p>
											<span>Sep,2009 - June,2015</span>
										</div>
										<blockquote class="ref-cont clear-mrg">
											<p><i class="fas fa-trophy"></i> School Band : Sep 2008 - June 2009
											</p>
											<p><i class="fas fa-trophy"></i> Math Club : Sep, 2007 - June 2009
											</p>
											<p><i class="fas fa-trophy"></i> Swimming Team : March 2006 - June 2009</p>
											</p>
										</blockquote>
									</div>
								</div>
								<!-- .exp-box-4 -->
								<div class="ref-box brd-btm hreview">
									<div class="ref-avatar">
										<img alt="University UofT Logo" src="images/My Exp/UofT.png"
											class="avatar avatar-54 photo" height="54" width="54" />
									</div>
									<div class="ref-info">
										<div class="ref-author">
											<strong>UNIVERSITY OF TORONTO (Downtown Campus)</strong>
											<p>Bachelor of Applied Science(BASc)<br>
												Minor: Economics and Finance</p>
											<span>Sep,2009 - June,2015</span>
										</div>
										<blockquote class="ref-cont clear-mrg">
											<p><i class="fas fa-trophy"></i> School Band : Sep 2008 - June 2009
											</p>
											<p><i class="fas fa-trophy"></i> Math Club : Sep, 2007 - June 2009
											</p>
											<p><i class="fas fa-trophy"></i> Swimming Team : March 2006 - June 2009</p>
											</p>
										</blockquote>
									</div>
								</div>
								<!-- .exp-box-5 -->
							</div>
							<!-- .padd-box-sm -->
						</section>
						<!-- .section -->
						<section class="section clear-mrg">
							<h2 class="title-lg text-upper">Interest</h2>
							<div class="padd-box-sm">
								<ul class="clients">
									<li>
										<i class="fas fa-pen-nib fa-2x"></i>
										<p>Calligraphy Lover</p>
									</li>
									<li>
										<i class="fas fa-palette fa-2x"></i>
										<p>Drawer</p>
									</li>
									<li>
										<i class="fas fa-guitar fa-2x"></i>
										<p>Guitar Player</p>
									</li>
									<li>
										<i class="fas fa-photo-video fa-2x"></i>
										<p>Video Editor</p>
									</li>
									<li>
										<i class="fas fa-images fa-2x"></i>
										<p>Photographer</p>
									</li>
									<li>
										<i class="fas fa-swimmer fa-2x"></i>
										<p>Swimmer</p>
									</li>
								</ul>
							</div>
							<!-- .padd-box-sm -->
						</section>
						<!-- .section -->
					</div>
					<!-- .padd-box -->
					<!-- END: PAGE CONTENT -->
				</div>
				<!-- .ace-paper-cont -->
			</main>
			<!-- .ace-paper -->
		</div>
		<!-- .ace-paper-stock -->
	</div>
	<!-- .ace-container -->
</div>
<!-- #ace-content -->