@charset "gb2312";
/* CSS Document */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
body {
  background: #ddd6cc;
  font: 12px '宋体', 'Times';
  color: #3f3e3c;
  line-height: 1.5;
}
img {
  border: 0;
  vertical-align: middle;
}
p {
  display: block;
}
ul {
  list-style: none;
}
a {
  color: #a6a6a6;
  text-decoration: none;
  transition: All 0.5s ease;
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
}
a:hover {
  color: #000;
}
.blank {
  height: 5px;
  overflow: hidden;
  width: 100%;
  margin: auto;
  clear: both;
}

/* mainContent */
.mainContent {
  background: #e8e5dd;
  width: 1000px;
  margin: 20px auto;
  overflow: hidden;
}
aside {
  width: 270px;
  float: left;
}
.avatar {
  margin: 20px auto;
  width: 160px;
  height: 160px;
  border-radius: 160px;
  -moz-border-radius: 160px;
  -webkit-border-radius: 160px;
  overflow: hidden;
}
.avatar a {
  display: block;
  padding-top: 97px;
  width: 160px;
  height: 63px;
  background: url(/images/Blog/headphoto.jpg) no-repeat;
  background-size: 160px 160px;
}
.avatar a span {
  display: block;
  margin-top: 63px;
  padding-top: 8px;
  width: 160px;
  height: 55px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: margin-top 0.2s ease-in-out;
  -moz-transition: margin-top 0.2s ease-in-out;
  -o-transition: margin-top 0.2s ease-in-out;
  transition: margin-top 0.2s ease-in-out;
}
.avatar a:hover span {
  display: block;
  margin-top: 0;
}
.topspaceinfo {
  background: #f16e50;
  padding: 40px 20px;
  color: #fff;
}
.topspaceinfo h1 {
  font-size: 16px;
  line-height: 40px;
}
.userinfo {
  padding: 20px 30px 30px;
  font-size: 14px;
  line-height: 28px;
  color: #666;
}
.userinfo a {
  color: #f16e50;
}
.userinfo a:hover {
  color: #000;
}
.q-fans,
.btns a {
  padding: 0 10px;
}
.q-fans a {
  font-weight: bold;
}
.btns a {
  border-right: #dad9d5 1px solid;
}
aside section {
  display: block;
  overflow: hidden;
}
aside section h2 {
  background: #f16e50;
  color: #fff;
  padding-left: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}
.newpic ul,
.taglist ul {
  padding: 20px 30px;
  overflow: hidden;
}
.newpic ul li {
  display: inline;
  width: 48px;
  height: 48px;
}
.newpic ul li img {
  width: 48px;
  height: 48px;
  border: 0;
  display: block;
  float: left;
  border: 1px solid transparent;
}
.newpic ul li img:hover {
  opacity: 0.5;
}
.taglist ul li a {
  padding: 2px 5px;
  display: inline-block;
  float: left;
  margin-right: 5px;
  color: #454545;
}
.taglist ul li a:hover {
  background: #f16e50;
  color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.blogitem {
  width: 730px;
  background: #fff;
  float: right;
}
.blogitem article {
  border-bottom: #f4f3ef 40px solid;
}
.title {
  background: url() no-repeat 5% 80%;
  font-size: 20px;
  line-height: 28px;
  display: inline-block;
  padding: 38px 60px 8px 80px;
  border-bottom: 1px solid #e2e2e2;
  width: 100%;
}
.title a {
  color: #454545;
}
.title a:hover {
  padding: 20px;
}
.text {
  font-size: 14px;
  padding: 20px 40px;
}
.text p {
  line-height: 24px;
  margin-bottom: 10px;
}
.textimg {
  text-align: center;
}
.textimg img {
  max-width: 500px;
  width: expression(document.body.clientWidth > 500? '500px': 'auto');
} /*for ie6*/
.textfoot {
  padding: 20px 60px;
  border-top: 1px solid #dddcdb;
  text-align: right;
  box-shadow: #999 2px 2px 3px;
}
.textfoot a {
  margin-left: 10px;
}
.pages {
  padding: 0 60px 25px;
  background: #f4f3ef;
  text-align: right;
}
.pages span {
  background: #f16e50;
  color: #fff;
}
.pages a {
  background: #fff;
  color: #454545;
  padding: 5px 8px;
  border: none;
  margin: 0 0 0 5px;
}
.pages span {
  padding: 5px 8px;
  border: none;
  margin: 0 0 0 5px;
}
.pages a:hover {
  background: #ccc;
}
/* footer */
footer {
  border-top: 9px solid #f16e50;
  background: #242221;
  width: 100%;
}
.footavatar {
  width: 700px;
  margin: auto;
  position: relative;
  color: #666;
}
.footavatar img {
  height: 110px;
}
.footphoto {
  position: absolute;
  top: -58px;
  left: 20px;
  display: block;
  border: #f16e50 5px solid;
}
.footinfo {
  display: block;
  padding: 0 0 0 160px;
}
.fname {
  color: #f16e50;
  margin-top: 16px;
  font-size: 18px;
  line-height: 28px;
}
.fname a {
  color: #f16e50;
}
.finfo {
  line-height: 22px;
}
.visitor {
  width: 800px;
  margin: 40px auto 0;
  clear: both;
  border-top: 1px solid #32302e;
  padding-top: 40px;
  overflow: hidden;
}
.visitor h2 {
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  padding: 0 20px 0;
}
.visitor ul {
  padding: 20px;
}
.visitor ul li img {
  width: 78px;
  height: 78px;
  display: block;
  border: #fff 2px solid;
}
.visitor ul li a {
  float: left;
  margin-right: 10px;
}
.visitor ul li a:hover {
  opacity: 0.5;
}
.Copyright {
  text-align: center;
  color: #959595;
  margin: 40px 0 0;
}
.Copyright ul a {
  color: #f16e50;
  display: inline;
  padding: 0 10px;
}
.Copyright ul a:nth-child(-n + 3) {
  border-right: #999 1px solid;
}
.Copyright ul a:hover {
  color: #ff8b70;
}

/*-------main---------*/
.autoMenu {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1;
  text-align: left;
}
.autoMenu ul {
  line-height: 2;
  overflow-y: auto;
  background: #fff;
  -webkit-box-shadow: 0 0 10px #ccc;
  -moz-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}
.autoMenu ul > li.sub {
  padding-left: 20px;
}
.autoMenu ul > li > a {
  color: #399c9c;
}
.autoMenu ul > li.active > a {
  color: #ff5370;
}

.btn-box {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-decoration: none;
  position: relative;
}
.icon-plus-sign {
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 4px solid #91ba61;
  background: #91ba61;
  position: absolute;
  top: 3px;
  left: 3px;
}
.icon-plus-sign:before,
.icon-plus-sign:after {
  content: '';
  display: inline-block;
  width: 3px;
  height: 20px;
  background: #fff;
  border-radius: 1px;
  position: absolute;
  top: 3px;
  left: 11.5px;
}
.icon-plus-sign:after {
  -webkit-transform: rotate(90deg);
}
.icon-minus-sign {
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 4px solid #ff5370;
  background: #ff5370;
  position: absolute;
  top: 3px;
  left: 3px;
}
.icon-minus-sign:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 3px;
  background: #fff;
  border-radius: 1px;
  position: absolute;
  left: 3px;
  top: 11.5px;
}
