<section class="section brd-btm">
	<div class="row">
		<div class="col-sm-12 clear-mrg">
			<h2 class="title-thin text-muted">Qualification</h2>
			<p>
				<i class="fas fa-users-cog"></i> Participate in the overall project life
				cycle including a focus on identification and documentation of business
				requirements, analysis of the development of key business process, business
				rules, data sourcing strategies, data validataion
			</p>
			<p>
				<i class="fas fa-users-cog"></i> Advance with SQL(MySQL, PostgreSQL and
				MsSQL) and NoSQL(MongoDB). Practical experiece in ETL developement, stored
				procedures,data warehousing and Data Visualization with large scale
				databases
			</p>
			<p>
				<i class="fas fa-users-cog"></i> Extensive experiences in installing,
				upgrading, and migrating the database server
			</p>
			<p>
				<i class="fas fa-users-cog"></i> Expertise with database monitoring,
				management and optimization for various aspects like performance and
				replication
			</p>
			<p>
				<i class="fas fa-users-cog"></i>Knowledge on enrolling users, controlling
				and monitoring user access to ensure system security, and solid
				understanding and experience on backup and recovery of database
			</p>
			<p>
				<i class="fas fa-users-cog"></i> Extracted and merged data set from multiple
				data sources. Performed data cleansing, transformation, exploration,
				analysis and data visualization with multi Business Intelligence
				technologies
			</p>
			<p>
				<i class="fas fa-users-cog"></i> Proficiency with data visualization tools
				includes both Power BI and Tableau. Performed ad-hoc and dashbaord report
			</p>
			<p>
				<i class="fas fa-users-cog"></i> Solid understanding of statistical
				techniques (hypothesis testing, regression) as well as the ability to driven
				actionable insights from large data sets by using statistical tools
			</p>
			<p>
				<i class="fas fa-users-cog"></i> Excellent communication skills in written
				and verbal with ability to present on business meeting, convey ideas,
				articulate solutions and solve conflicts
			</p>
			<p>
				<i class="fas fa-users-cog"></i> Multi-tasking and time management skills
				and managing multiple initiatives simultaneously and maintaining an
				exemplary degree of professionalism deliver service accurate and on time
			</p>
			<p>
				<i class="fas fa-users-cog"></i> A passionate problem solver, driven to add
				value to projects by leveraging useful skills through continuous learning
				and team interaction
			</p>
			<p>
				<i class="fas fa-users-cog"></i> Understanding of business processes in
				product lifecycle, sales operations, supply chain and costing analyst
			</p>
		</div>
	</div>
</section>
