<section class="section brd-btm">
  <div class="row">
    <div class="col-sm-6 clear-mrg">
      <h2 class="title-thin text-muted">Personal Info.</h2>

      <dl class="dl-horizontal clear-mrg">
        <dt class="text-upper">Full Name</dt>
        <dd>Kelvin Chen</dd>

        <dt class="text-upper">D.O.B.</dt>
        <dd>1991/XX/XX</dd>

        <dt class="text-upper">address</dt>
        <dd>Toronto, ON, CA</dd>

        <dt class="text-upper">e-mail</dt>
        <dd>
          <a href="mailto:bdfd2005@gmail.com">
            bdfd2005@gmail.com</a
          >
        </dd>

        <dt class="text-upper">Phone #</dt>
        <dd>+1 647-123-1234</dd>

        <dt class="text-upper">Work Stutus</dt>
        <dd>Open to both Full-Time & Long-term Part-time </dd>
      </dl>
    </div>
    <!-- .col-sm-6 -->

    <div class="col-sm-6 clear-mrg">
      <h2 class="title-thin text-muted">Languages</h2>

      <div
        class="progress-bullets ace-animate"
        role="progressbar"
        aria-valuenow="10"
        aria-valuemin="0"
        aria-valuemax="10"
      >
        <strong class="progress-title">English</strong>
        <span class="progress-bar">
          <span class="bullet fill"></span>
          <span class="bullet fill"></span>
          <span class="bullet fill"></span>
          <span class="bullet fill"></span>
          <span class="bullet fill"></span>
          <span class="bullet fill"></span>
          <span class="bullet fill"></span>
          <span class="bullet fill"></span>
          <span class="bullet fill"></span>
          <span class="bullet fill"></span>
        </span>
        <span class="progress-text text-muted">native</span>
      </div>

      <div
        class="progress-bullets ace-animate"
        role="progressbar"
        aria-valuenow="10"
        aria-valuemin="0"
        aria-valuemax="10"
      >
        <strong class="progress-title">Mandarin</strong>
        <span class="progress-bar">
          <span class="bullet fill"></span>
          <span class="bullet fill"></span>
          <span class="bullet fill"></span>
          <span class="bullet fill"></span>
          <span class="bullet fill"></span>
          <span class="bullet fill"></span>
          <span class="bullet fill"></span>
          <span class="bullet fill"></span>
          <span class="bullet fill"></span>
          <span class="bullet fill"></span>
        </span>
        <span class="progress-text text-muted">native</span>
      </div>

      <div
        class="progress-bullets ace-animate"
        role="progressbar"
        aria-valuenow="7"
        aria-valuemin="0"
        aria-valuemax="10"
      >
        <strong class="progress-title">Cantonese</strong>
        <span class="progress-bar">
          <span class="bullet fill"></span>
          <span class="bullet fill"></span>
          <span class="bullet fill"></span>
          <span class="bullet fill"></span>
          <span class="bullet fill"></span>
          <span class="bullet fill"></span>
          <span class="bullet fill"></span>
          <span class="bullet"></span>
          <span class="bullet"></span>
          <span class="bullet"></span>
        </span>
        <span class="progress-text text-muted">Fluent</span>
      </div>
    <!-- .col-sm-6 -->
  </div>
  <!-- .row -->
</section>
