<section class="section brd-btm">
  <div class="row">
    <div class="col-sm-12 clear-mrg text-box">
      <h2 class="title-lg text-upper">Summary</h2>

      <p>
        <b
          >Hello, World. This is welcome message from Kelvin Chen!</b
        ></br>
        A passionate and results-oriented person with strong
        background in mathematics and analytics, along with strong
        experience in data analysis, reporting, prospecting and lead
        generation. Capable of tackling challenging tasks and
        delivering measurable results, and extremely data driven and
        constantly looking on turn data into meaningful and
        actionable insights.
      </p>
      <p class="text-right">
        <img
          width="30%"
          height="30%"
          src="images/My Logo/user_signature.jpg"
          alt="Kelvin Chen Signature"
        />
      </p>
    </div>
  </div>
</section>