<section class="section brd-btm">
<div class="row">
    <div class="col-sm-12 clear-mrg">
    <h2 class="title-thin text-muted">Technical Skill List</h2>
        <p><i class="fas fa-laptop"> Opearting System(OS):</i><br>Linux(CentOS,Debian,Ubuntu),Windows(10,7,XP),MacOS</p>
        <p><i class="fas fa-cloud-upload-alt"> Apllication Deploy Platform:</i><br>Google Cloud Platform(GCP 3-Yrs), Amazon Web Services(AWS 1-Yrs)</p>
        <p><i class="fas fa-server"> Platform as a Service(Paas):</i><br>Heroku</p>
        <p><i class="fas fa-file-code"> Back-End:</i><br>Python, Node.js, Javascript, Typescript</p>
        <p><i class="far fa-file-code"> Front-End:</i><br>React, Vue, Angular, CSS3, HTML5</p>
        <p><i class="fas fa-database"> SQL & NoSQL Database:</i><br>MySQL, MongoDB, Redis</p>
        <p><i class="fas fa-code-branch"></i> Source Control:</i><br>Git(Github), SVN(Tortoise)</p>
        <p><i class="fas fa-pager"> Continuous Build:</i><br>Webpack</p>
        <p><i class="fas fa-upload"> Continuous Integration:</i><br>Jerkins, CircleCI, GitLab</p>
        <p><i class="fas fa-trophy"> Continuous Deploy:</i><br>Kubernetes, Docker</p>
        <p><i class="fas fa-chart-pie"> Business Intelligence:</i><br>Power BI, Tableau</p>
        <p><i class="fas fa-chart-line"> Statistics:</i><br>SPSS, SAS</p>
        <!-- <p><i class="fas fa-file-image">Source Control:</i></p>
        <p><i class="fas fa-file-image">Source Control:</i></p> -->
    <!-- <ul class="icon-list icon-list-col3 clearfix">
        <li>
        <i class="fab fa-html5"></i>/<i
            class="fas fa-file-code"
        ></i>
        HTML5 / CSS3
        </li>
        <li><i class="fas fa-list-alt"></i> Resource Planning</li>
    </ul> -->
    </div>
</div>
</section>