<section class="section brd-btm">
	<div class="row">
		<div class="col-sm-6 clear-mrg">
			<h2 class="title-thin text-muted">SKill Highlight</h2>
			<i class="fas fa-tasks"></i> Project Management <br /><br />
			<i class="fas fa-filter"></i> Process Optimization<br /><br />
			<i class="fas fa-puzzle-piece"></i> Collaborative Problem Solving
			<br /><br />
			<i class="fas fa-users-cog"></i> Cross Function Team Leadership <br /><br />
			<i class="fas fa-trophy"></i> Software Development Life Cycle
		</div>
		<!-- .col-sm-6 -->

		<div class="col-sm-6 clear-mrg">
			<h2 class="title-thin text-muted">Industry Knowledge</h2>

			<div
				class="progress-line ace-animate"
				role="progressbar"
				aria-valuenow="90"
				aria-valuemin="0"
				aria-valuemax="100"
			>
				<strong class="progress-title">Business Strategic Planning</strong>
				<div class="progress-bar" data-text="90%" data-value="0.9"></div>
			</div>

			<div
				class="progress-line ace-animate"
				role="progressbar"
				aria-valuenow="85"
				aria-valuemin="0"
				aria-valuemax="100"
			>
				<strong class="progress-title">Business Intelligence</strong>
				<div class="progress-bar" data-text="85%" data-value="0.85"></div>
			</div>

			<div
				class="progress-line ace-animate"
				role="progressbar"
				aria-valuenow="85"
				aria-valuemin="0"
				aria-valuemax="100"
			>
				<strong class="progress-title">Project Management(Agile/Scrum)</strong>
				<div class="progress-bar" data-text="85%" data-value="0.85"></div>
			</div>

			<div
				class="progress-line ace-animate"
				role="progressbar"
				aria-valuenow="80"
				aria-valuemin="0"
				aria-valuemax="100"
			>
				<strong class="progress-title">Process Optimization</strong>
				<div class="progress-bar" data-text="80%" data-value="0.8"></div>
			</div>
		</div>
		<!-- .col-sm-6 -->
	</div>
	<!-- .row -->
</section>
