<section class="section">
	<h2 class="title-thin text-muted">Awards and Achievements</h2>

	<div class="row">
		<div class="col-sm-6 clear-mrg">
			<div class="award-box">
				<figure class="award-img">
					<img src="images\My Exp\Certificate.png" alt="Certifiate 1" />
				</figure>

				<h3 class="award-title">Certificate Name 1</h3>

				<div class="award-text clear-mrg">
					<p>Certificate Course Description</p>
				</div>
			</div>
		</div>
		<!-- .col-sm-6 -->

		<div class="col-sm-6 clear-mrg">
			<div class="award-box">
				<figure class="award-img">
					<img src="images\My Exp\Certificate.png" alt="Certifiate 2" />
				</figure>

				<h3 class="award-title">Certificate Name 2</h3>

				<div class="award-text clear-mrg">
					<p>Certificate Course Description</p>
				</div>
			</div>
		</div>
		<!-- .col-sm-6 -->
	</div>
	<!-- .row -->
</section>
