<section class="section clear-mrg">
	<h2 class="title-lg text-upper">Interest</h2>
	<div class="padd-box-sm">
		<ul class="clients">
			<li>
				<i class="fas fa-pen-nib fa-2x"></i>
				<p>Calligraphy Lover</p>
			</li>
			<li>
				<i class="fas fa-palette fa-2x"></i>
				<p>Drawer</p>
			</li>
			<li>
				<i class="fas fa-guitar fa-2x"></i>
				<p>Guitar Player</p>
			</li>
			<li>
				<i class="fas fa-photo-video fa-2x"></i>
				<p>Video Editor</p>
			</li>
			<li>
				<i class="fas fa-images fa-2x"></i>
				<p>Photographer</p>
			</li>
			<li>
				<i class="fas fa-swimmer fa-2x"></i>
				<p>Swimmer</p>
			</li>
		</ul>
	</div>
	<!-- .padd-box-sm -->
</section>
