<section class="section clear-mrg">
    <h2 class="title-lg text-upper">Education Hisotry</h2>
    <div class="padd-box-sm clear-mrg">
        <div class="ref-box brd-btm hreview">
            <div class="ref-avatar">
                <img alt="University UofT Logo" src="images/My Exp/UofT.png"
                    class="avatar avatar-54 photo" height="54" width="54" />
            </div>
            <div class="ref-info">
                <div class="ref-author">
                    <strong>UNIVERSITY OF TORONTO (Downtown Campus)</strong>
                    <p>Bachelor of Applied Science(BASc)<br>
                        Minor: Economics and Finance</p>
                    <span>Sep,2009 - June,2015</span>
                </div>
                <blockquote class="ref-cont clear-mrg">
                    <p><i class="fas fa-trophy"></i> School Band : Sep 2008 - June 2009
                    </p>
                    <p><i class="fas fa-trophy"></i> Math Club : Sep, 2007 - June 2009
                    </p>
                    <p><i class="fas fa-trophy"></i> Swimming Team : March 2006 - June 2009</p>
                    </p>
                </blockquote>
            </div>
        </div>
        <!-- .exp-box-1 -->
        <div class="ref-box brd-btm hreview">
            <div class="ref-avatar">
                <img alt="University UofT Logo" src="images/My Exp/UofT.png"
                    class="avatar avatar-54 photo" height="54" width="54" />
            </div>
            <div class="ref-info">
                <div class="ref-author">
                    <strong>UNIVERSITY OF TORONTO (Downtown Campus)</strong>
                    <p>Bachelor of Applied Science(BASc)<br>
                        Minor: Economics and Finance</p>
                    <span>Sep,2009 - June,2015</span>
                </div>
                <blockquote class="ref-cont clear-mrg">
                    <p><i class="fas fa-trophy"></i> School Band : Sep 2008 - June 2009
                    </p>
                    <p><i class="fas fa-trophy"></i> Math Club : Sep, 2007 - June 2009
                    </p>
                    <p><i class="fas fa-trophy"></i> Swimming Team : March 2006 - June 2009</p>
                    </p>
                </blockquote>
            </div>
        </div>
        <!-- .exp-box-2 -->
    </div>
    <!-- .padd-box-sm -->
</section>