<h1 align="center">
  &nbspWeb Development In 2020 - A Practical Guide Course List
</h1>
<article>
  <h3 class="title">1.0 Introduction</h3>
  <ul class="text">
    <li>
      It's begin of year 2020, and here i share a Web Development roadmap for
      the upcoming year.
    </li>
    <li>
      There are a <strong>TONS</strong> of technologies at market, so I have
      comprised a list youtube courses
    </li>
    <li>
      for each slide as well for other resources,hopefully help your on decision
      making.
    </li>
  </ul>

  <!-- <h3 class="title"><a href="#">2.0 The Necessities Tools</a></h3> -->
  <h3 class="title">2.0 The Necessities Tools</h3>
  <ul class="text">
    <li>
      <img
        src="../images/Blog/01HotProgrammingin2020/2.0necessary_tools.jpg"
        alt="The Necessities Tools"
        style="max-width:100%;"
      />
    </li>
    <h4 class="title">2.1 Operating System(OS)</h4>
    <li>Linux:(Recommand Ubuntu) Less cpu occupy</li>
    <li>Windows: Easy user interface</li>
    <li>MacOS: Faster operating system, hmm</li>
    <h4 class="title">2.2 IDE Intergrated Development Environment</h4>
    <li>
      <a href="https://code.visualstudio.com/" rel="nofollow"
        >Visual Studio Code: Strong Extension with built-in Git and System
        Command(cmd)</a
      >
    </li>
    <li>
      <a href="https://www.sublimetext.com/" rel="nofollow"
        >Sublime Text: Light Editor</a
      >
    </li>
    <li>
      <a href="https://visualstudio.microsoft.com/" rel="nofollow"
        >Visual Studio</a
      >
    </li>
    <li><a href="https://atom.io/" rel="nofollow">Atom</a></li>
    <li><a href="http://brackets.io/" rel="nofollow">Brackets</a></li>
    <li>
      <a href="https://www.activestate.com/products/komodo-edit/" rel="nofollow"
        >Komodo Edit</a
      >
    </li>
    <h4 class="title">2.3 Browser</h4>
    <li>
      <a href="https://www.google.com/chrome/" rel="nofollow"
        >Chrome: Light, Fast, and Tons Extension</a
      >
    </li>
    <li>
      <a href="https://www.mozilla.org/en-CA/firefox/" rel="nofollow"
        >Firefox</a
      >
    </li>
    <li><a href="https://www.opera.com/" rel="nofollow">Opera</a></li>
    <h4 class="title">2.4 Design</h4>
    <li>
      Now while it is true that once you work on a team/for a company, there is
      very likely going to be a UI/UX Designer, and you will focus on the
      development aspect of that project. But having even a bit of experience
      under your belt and a keen eye for design can be greatly beneficial,
      especially if you want to work as a Front-End Developer.
    </li>
    <li>
      <a href="https://www.photoshop.com/" rel="nofollow">Adobe Photoshop</a>
    </li>
    <li>
      <a
        href="https://www.adobe.com/ca/products/illustrator.html"
        rel="nofollow"
        >Adobe Illustrator</a
      >
    </li>
    <li>
      <a href="https://www.adobe.com/ca/products/xd.html" rel="nofollow"
        >Adobe XD</a
      >
    </li>
    <li><a href="https://affinity.serif.com" rel="nofollow">Affinity</a></li>
    <li><a href="https://www.figma.com/" rel="nofollow">Figma</a></li>
    <li><a href="https://www.invisionapp.com/" rel="nofollow">InVision</a></li>
    <li><a href="https://www.sketch.com/" rel="nofollow">Sketch</a></li>
  </ul>

  Follow on this page is keep updating...

  <!-- 
  <h3 class="title">3.0 Building Blocks &amp; Responsive Design</h3> -->
  <h3 class="title"><a href="/blog">Go Back Home Page</a></h3>
  <a href="/blog">
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<img
      src="/images/Blog/gobackicon.jpg"
      alt="Go Back To Home Page"
      style="width:50%, height: 50%;"
  /></a>
</article>
