<h1 align="center">2020 Programmer Learning Tree Navigation</h1>
<h1 align="center">前端必知导航链接</h1>
<article>
  <ul class="text">
    <!-- <h3 class="title">Title</h3> -->
    <h3 class="title">1.0 前言</h3>
    <p>
      本文列出了很多与前端有关的常见网站、博客、工具等，整体来看比较权威。有些东西已经过时了，我就不列出来了。
    </p>
    <p>
      学是一方面，也是最主要的方面；但还有一个作用，比如，“这个前端框架你都不知道啊”、“这个前端大牛你都没听说过啊”
      ，此时，这份清单就能起到作用了。如果你能把清单里列出的内容都了解下，逼格也会高很多。
    </p>
    <h3 class="title">2.0 代码社区</h3>
    <ul>
      <li>
        2.1 GitHub：<a href="https://github.com/" class="uri"
          >https://github.com/</a
        >
      </li>
    </ul>
    <p>高质量的内容创作和分享平台。</p>
    <p>请记住，作为一个码农，GitHub 代表了你的名片。</p>
    <ul>
      <li>
        2.2 stackoverflow：<a href="https://stackoverflow.com/" class="uri"
          >https://stackoverflow.com/</a
        >
      </li>
    </ul>
    <p>遇到技术问题请先Google，很多答案都能在 stackoverflow 上找到。</p>
    <h3 class="title">3.0技术博客</h3>
    <ul>
      <li>
        3.1 掘金：<a href="https://juejin.im/" class="uri"
          >https://juejin.im/</a
        >
      </li>
    </ul>
    <p>
      掘金已经被前端同学攻陷了。目前来看，国内的很多优质前端文章，都在掘金上。
    </p>
    <p>
      如果你刚开始写前端博客，可以考虑在掘金上发文章。当然，文章最好在<strong>掘金、博客园、知乎</strong>上做同步。
    </p>
    <ul>
      <li>
        3.2 博客园：<a href="https://www.cnblogs.com/" class="uri"
          >https://www.cnblogs.com/</a
        >
      </li>
    </ul>
    <p>一个很纯粹的技术博客平台。</p>
    <ul>
      <li>
        3.3 知乎：<a href="https://www.zhihu.com/" class="uri"
          >https://www.zhihu.com/</a
        >
      </li>
    </ul>
    <p>
      很多做技术的同学也开始玩知乎了，阿里的不少前端大牛在知乎上就非常活跃。
    </p>
    <ul>
      <li>
        3.4 CSDN：<a href="https://www.csdn.net/" class="uri"
          >https://www.csdn.net/</a
        >
      </li>
    </ul>
    <p>广告太多，但奈何你这么老牌。</p>
    <ul>
      <li>
        3.5 segmentfault：<a href="https://segmentfault.com/" class="uri"
          >https://segmentfault.com/</a
        >
      </li>
    </ul>
    <p>比较低调的技术博客平台。</p>
    <h3 class="title">4.0 GitHub 排名统计</h3>
    <ul>
      <li>
        <p>
          4.1 GitHub 全球排名：<a
            href="https://gitstar-ranking.com/"
            class="uri"
            >https://gitstar-ranking.com/</a
          >
        </p>
      </li>
      <li>
        <p>
          4.2 GitHub trending（官网推荐—）：<a
            href="https://github.com/trending"
            class="uri"
            >https://github.com/trending</a
          >
        </p>
      </li>
    </ul>
    <p>你的项目要是能上 GitHub trending，绝对火得一塌糊涂。</p>
    <h3 class="title">5.0 资讯</h3>
    <ul>
      <li>
        <p>
          5.1 虎嗅网：<a href="https://www.huxiu.com/" class="uri"
            >https://www.huxiu.com/</a
          >
        </p>
      </li>
      <li>
        <p>
          5.2 36氪：<a href="https://36kr.com/" class="uri"
            >https://36kr.com/</a
          >
        </p>
      </li>
      <li>
        <p>
          5.3 利器：<a href="https://liqi.io/" class="uri">https://liqi.io/</a>
        </p>
      </li>
    </ul>
    <p>采访优秀的创造者，邀请他们来分享工作时所使用的工具。</p>
    <ul>
      <li>
        5.4 湾区日报：<a href="https://wanqu.co/" class="uri"
          >https://wanqu.co/</a
        >
      </li>
    </ul>
    <p>每天推送 5 篇优质英文文章。</p>
    <ul>
      <li>
        <p>
          5.5 Solidot：<a href="https://www.solidot.org/" class="uri"
            >https://www.solidot.org/</a
          >
        </p>
      </li>
      <li>
        <p>
          5.6 品玩：<a href="https://www.pingwest.com/" class="uri"
            >https://www.pingwest.com/</a
          >
        </p>
      </li>
      <li>
        <p>
          5.7 极客公园：<a href="http://www.geekpark.net/" class="uri"
            >http://www.geekpark.net/</a
          >
        </p>
      </li>
    </ul>
    <h3 class="title">6.0 框架</h3>
    <ul>
      <li>
        <p>
          6.1 Vue.js：<a href="https://cn.vuejs.org/" class="uri"
            >https://cn.vuejs.org/</a
          >
        </p>
      </li>
      <li>
        <p>
          6.2 React：<a href="https://reactjs.org/" class="uri"
            >https://reactjs.org/</a
          >
        </p>
      </li>
      <li>
        <p>
          6.3 Angular：<a href="https://angular.cn/" class="uri"
            >https://angular.cn/</a
          >
        </p>
      </li>
      <li>
        <p>
          6.4 AngularJS：<a href="https://angularjs.org/" class="uri"
            >https://angularjs.org/</a
          >
        </p>
      </li>
      <li>
        <p>
          6.5 Koa：<a href="https://koa.bootcss.com/" class="uri"
            >https://koa.bootcss.com/</a
          >
        </p>
      </li>
    </ul>
    <p>基于 Node.js 平台的下一代 Web 开发框架。</p>
    <ul>
      <li>
        6.6 Express：<a href="http://www.expressjs.com.cn/" class="uri"
          >http://www.expressjs.com.cn/</a
        >
      </li>
    </ul>
    <p>基于 Node.js 平台，快速、开放、极简的 Web 开发框架。</p>
    <ul>
      <li>
        6.7 Egg：<a href="https://eggjs.org/zh-cn/" class="uri"
          >https://eggjs.org/zh-cn/</a
        >
      </li>
    </ul>
    <p>Egg 继承于 Koa。</p>
    <p>
      Koa 是一个非常优秀的框架，然而对于企业级应用来说，它还比较基础。而 Egg
      选择了 Koa 作为其基础框架，在它的模型基础上，进一步对它进行了一些增强。
    </p>
    <ul>
      <li>
        6.8 Electron：<a href="https://www.electronjs.cn/" class="uri"
          >https://www.electronjs.cn/</a
        >
      </li>
    </ul>
    <p>
      Electron（原名为Atom Shell）是GitHub开发的一个开源js框架。
      它允许使用Node.js（作为后端）和Chromium（作为前端）完成桌面GUI应用程序的开发。
    </p>
    <p>
      也就是说，我们可以用 js 语言开发客户端软件了。其实呢，VS Code
      这个客户端软件就是用 js 语言写的。
    </p>
    <ul>
      <li>
        6.9 Redux：<a href="https://www.redux.org.cn/" class="uri"
          >https://www.redux.org.cn/</a
        >
      </li>
    </ul>
    <p>Redux 是 JavaScript 状态容器，提供可预测化的状态管理。</p>
    <ul>
      <li>
        6.10 ReactNative：<a href="https://reactnative.cn/" class="uri"
          >https://reactnative.cn/</a
        >
      </li>
    </ul>
    <p>使用JavaScript编写原生移动应用。</p>
    <ul>
      <li>
        6.11 mpvue：<a href="http://mpvue.com/" class="uri"
          >http://mpvue.com/</a
        >
      </li>
    </ul>
    <p>基于 Vue.js 的小程序开发框架。</p>
    <h3 class="title">7.0 UI框架</h3>
    <ul>
      <li>
        <p>
          7.1 Bootstrap：<a href="http://www.bootcss.com/" class="uri"
            >http://www.bootcss.com/</a
          >
        </p>
      </li>
      <li>
        <p>
          7.2 ElementUI：<a href="http://element-cn.eleme.io/" class="uri"
            >http://element-cn.eleme.io/</a
          >
        </p>
      </li>
    </ul>
    <p>基于 Vue.js 的组件库。</p>
    <ul>
      <li>
        7.3 iView：<a href="https://www.iviewui.com/" class="uri"
          >https://www.iviewui.com/</a
        >
      </li>
    </ul>
    <p>一套基于 Vue.js 的高质量 UI 组件库。</p>
    <ul>
      <li>
        7.4 Ant Design：<a href="https://ant.design" class="uri"
          >https://ant.design</a
        >
      </li>
    </ul>
    <p>
      基于 React 的 UI 组件库，主要用于研发企业级中后台产品。官网推出了
      <a href="https://pro.ant.design/">Ant Design pro</a> 作为示例，可以看看。
    </p>
    <ul>
      <li>
        7.5 Ant Design Mobile：<a href="https://mobile.ant.design/" class="uri"
          >https://mobile.ant.design/</a
        >
      </li>
    </ul>
    <p>一个基于 Preact / React / React Native 的 移动端 UI 组件库。</p>
    <ul>
      <li>
        7.6 Ant Design of Vue：<a
          href="https://vue.ant.design/docs/vue/introduce-cn/"
          class="uri"
          >https://vue.ant.design/docs/vue/introduce-cn/</a
        >
      </li>
    </ul>
    <p>Ant Design 的 Vue 实现，开发和服务于企业级后台产品。</p>
    <h3 class="title">8.0 类库</h3>
    <ul>
      <li>
        <p>
          8.1 jQuery：<a href="http://jquery.com/" class="uri"
            >http://jquery.com/</a
          >
        </p>
      </li>
      <li>
        <p>
          8.2 Zepto.js：<a href="https://zeptojs.com/" class="uri"
            >https://zeptojs.com/</a
          >
        </p>
      </li>
    </ul>
    <p>可以理解成是移动端的 jQuery。</p>
    <ul>
      <li>
        8.3 ECharts：<a href="https://echarts.baidu.com/" class="uri"
          >https://echarts.baidu.com/</a
        >
      </li>
    </ul>
    <p>使用 JavaScript 实现的开源可视化库。</p>
    <h3 class="title">9.0 CSS</h3>
    <ul>
      <li>
        9.1 Sass：<a href="https://sass-lang.com/" class="uri"
          >https://sass-lang.com/</a
        >
      </li>
    </ul>
    <p>
      Sass 是成熟、稳定、强大的 CSS 扩展语言。入门文档可以看：<a
        href="http://sass.bootcss.com/"
        class="uri"
        >http://sass.bootcss.com/</a
      >
    </p>
    <ul>
      <li>
        9.2 Less：<a href="http://lesscss.org/" class="uri"
          >http://lesscss.org/</a
        >
      </li>
    </ul>
    <p>
      给 CSS 加点料。入门文档可以看：<a
        href="https://less.bootcss.com/"
        class="uri"
        >https://less.bootcss.com/</a
      >
    </p>
    <ul>
      <li>
        9.3 Stylus：<a href="http://stylus-lang.com/" class="uri"
          >http://stylus-lang.com/</a
        >
      </li>
    </ul>
    <h3 class="title">10.0 构建</h3>
    <ul>
      <li>
        <p>
          10.1 NPM：<a href="https://www.npmjs.com/" class="uri"
            >https://www.npmjs.com/</a
          >
        </p>
      </li>
      <li>
        <p>
          10.2 Yarn：<a href="https://yarnpkg.com/zh-Hans/" class="uri"
            >https://yarnpkg.com/zh-Hans/</a
          >
        </p>
      </li>
      <li>
        <p>
          10.3 Webpack：<a href="https://webpack.js.org/" class="uri"
            >https://webpack.js.org/</a
          >
        </p>
      </li>
      <li>
        <p>
          10.4 Gulp：<a href="https://www.gulpjs.com.cn/" class="uri"
            >https://www.gulpjs.com.cn/</a
          >
        </p>
      </li>
      <li>
        <p>
          10.5 Babel：<a href="https://babeljs.io/" class="uri"
            >https://babeljs.io/</a
          >
        </p>
      </li>
      <li>
        <p>
          10.6 ESLint：<a href="https://cn.eslint.org/" class="uri"
            >https://cn.eslint.org/</a
          >
        </p>
      </li>
    </ul>
    <p>可组装的JavaScript和JSX检查工具。</p>
    <ul>
      <li>
        10.7 PostCSS：<a href="https://www.postcss.com.cn/" class="uri"
          >https://www.postcss.com.cn/</a
        >
      </li>
    </ul>
    <p>用 JavaScript 工具和插件转换 CSS 代码的工具</p>
    <h3 id="调试抓包">调试抓包</h3>
    <ul>
      <li>
        10.8 whistle：<a href="https://wproxy.org/whistle/" class="uri"
          >https://wproxy.org/whistle/</a
        >
      </li>
    </ul>
    <p>代理抓包工具，很好很强大。</p>
    <ul>
      <li>
        10.9 Fiddler：<a href="https://www.telerik.com/fiddler" class="uri"
          >https://www.telerik.com/fiddler</a
        >
      </li>
    </ul>
    <p>代理抓包工具。</p>
    <h3 class="title">11.0 Mock数据</h3>
    <ul>
      <li>
        11.1 Easy Mock：<a href="https://www.easy-mock.com" class="uri"
          >https://www.easy-mock.com</a
        >
      </li>
    </ul>
    <h3 class="title">12.0 编辑器 &amp;&amp; IDE</h3>
    <ul>
      <li>
        <p>
          12.1 VS Code：<a href="https://code.visualstudio.com/" class="uri"
            >https://code.visualstudio.com/</a
          >
        </p>
      </li>
      <li>
        <p>
          12.2 Sublime Text：<a href="https://www.sublimetext.com/" class="uri"
            >https://www.sublimetext.com/</a
          >
        </p>
      </li>
      <li>
        <p>
          12.3 WebStorm：<a
            href="https://www.jetbrains.com/webstorm/"
            class="uri"
            >https://www.jetbrains.com/webstorm/</a
          >
        </p>
      </li>
      <li>
        <p>
          12.4 Atom：<a href="https://atom.io/" class="uri">https://atom.io/</a>
        </p>
      </li>
    </ul>
    <h3 class="title">13.0 编码规范</h3>
    <ul>
      <li>
        <p>
          13.1 Bootstrap编码规范：<a
            href="https://codeguide.bootcss.com/"
            class="uri"
            >https://codeguide.bootcss.com/</a
          >
        </p>
      </li>
      <li>
        <p>
          13.2 ES6编程风格：<a
            href="http://es6.ruanyifeng.com/#docs/style"
            class="uri"
            >http://es6.ruanyifeng.com/#docs/style</a
          >
        </p>
      </li>
      <li>
        <p>
          13.3 Airbnb Javascript Style Guide：<a
            href="https://github.com/airbnb/javascript"
            class="uri"
            >https://github.com/airbnb/javascript</a
          >
        </p>
      </li>
    </ul>
    <h3 class="title">14.0 静态站点搭建工具</h3>
    <ul>
      <li>
        <p>
          14.1 Hexo：<a href="https://hexo.io/zh-cn/" class="uri"
            >https://hexo.io/zh-cn/</a
          >
        </p>
      </li>
      <li>
        <p>
          14.2 VuePress：<a href="https://www.vuepress.cn/" class="uri"
            >https://www.vuepress.cn/</a
          >
        </p>
      </li>
      <li>
        <p>
          14.3 GitBook：<a href="https://www.gitbook.com/" class="uri"
            >https://www.gitbook.com/</a
          >
        </p>
      </li>
    </ul>
    <h3 class="title">15.0 图标</h3>
    <ul>
      <li>
        <p>
          15.1 Font Awesome：<a
            href="http://www.fontawesome.com.cn/"
            class="uri"
            >http://www.fontawesome.com.cn/</a
          >
        </p>
      </li>
      <li>
        <p>
          15.2 Iconfont：<a href="https://www.iconfont.cn/" class="uri"
            >https://www.iconfont.cn/</a
          >
        </p>
      </li>
      <li>
        <p>
          15.3 icomoon：<a href="https://icomoon.io/" class="uri"
            >https://icomoon.io/</a
          >
        </p>
      </li>
      <li>
        <p>
          15.4 EasyIcon：<a href="https://www.easyicon.net/" class="uri"
            >https://www.easyicon.net/</a
          >
        </p>
      </li>
      <li>
        <p>
          15.5 icons8：<a href="https://icons8.cn/" class="uri"
            >https://icons8.cn/</a
          >
        </p>
      </li>
      <li>
        <p>
          15.6 IconStore：<a href="https://iconstore.co/" class="uri"
            >https://iconstore.co/</a
          >
        </p>
      </li>
      <li>
        <p>
          15.7 iconninja：<a href="http://www.iconninja.com/" class="uri"
            >http://www.iconninja.com/</a
          >
        </p>
      </li>
    </ul>
    <h3 class="title">16.0 原型设计工具</h3>
    <ul>
      <li>
        16.1 墨刀：<a href="https://modao.cc/" class="uri">https://modao.cc/</a>
      </li>
    </ul>
    <h3 class="title">17.0 工具</h3>
    <ul>
      <li>
        17.1 CanIUse：<a href="https://caniuse.com/" class="uri"
          >https://caniuse.com/</a
        >
      </li>
    </ul>
    <p>浏览器兼容性查询。前端同学必须要知道。</p>
    <ul>
      <li>
        17.2 国家企业信用信息公示系统：<a
          href="http://www.gsxt.gov.cn"
          class="uri"
          >http://www.gsxt.gov.cn</a
        >
      </li>
    </ul>
    <p>
      通过这个网站，我们可以查到任何一家公司的基本信息（成立时间、法定代表人等）。如果你在这个网站上没有找到某公司的信息，放心吧，这个公司一定是个骗子。
    </p>
    <ul>
      <li>
        17.3 ProcessOn：<a href="https://www.processon.com/" class="uri"
          >https://www.processon.com/</a
        >
      </li>
    </ul>
    <p>在线制作流程图。推荐。</p>
    <ul>
      <li>
        <strong>17.4 幕布</strong>：<a href="https://mubu.com" class="uri"
          >https://mubu.com</a
        >
      </li>
    </ul>
    <p>极简大纲笔记、一键生成思维导图。非常好用。</p>
    <ul>
      <li>
        <p>
          17.5 JSON格式化：<a href="http://www.bejson.com/" class="uri"
            >http://www.bejson.com/</a
          >
        </p>
      </li>
      <li>
        <p>
          17.6 草料二维码：<a href="https://cli.im/" class="uri"
            >https://cli.im/</a
          >
        </p>
      </li>
      <li>
        <p>
          17.7 短链生成：<a href="http://www.dh6.ink/" class="uri"
            >http://www.dh6.ink/</a
          >
        </p>
      </li>
      <li>
        <p>
          17.8 GitHub短网址：<a href="https://git.io/" class="uri"
            >https://git.io/</a
          >
        </p>
      </li>
      <li>
        <p>
          <strong>17.9 图片压缩</strong>：<a
            href="https://www.yasuotu.com/"
            class="uri"
            >https://www.yasuotu.com/</a
          >
        </p>
      </li>
      <li>
        <p>
          17.10 在线PS：<a href="https://www.photopea.com/" class="uri"
            >https://www.photopea.com/</a
          >
        </p>
      </li>
      <li>
        <p>
          17.11 图片在线裁剪：<a href="https://www.asqql.com/gifc/" class="uri"
            >https://www.asqql.com/gifc/</a
          >
        </p>
      </li>
      <li>
        <p>
          17.12 多数据源IP地址查询：<a href="https://haoip.cn/" class="uri"
            >https://haoip.cn/</a
          >
        </p>
      </li>
      <li>
        <p>
          17.13 Gif添加字幕：<a href="http://www.yingjingtu.com/" class="uri"
            >http://www.yingjingtu.com/</a
          >
        </p>
      </li>
      <li>
        <p>
          17.14 Photoshop的投影参数转换为 CSS代码：<a
            href="https://psd2css.mezw.com/"
            class="uri"
            >https://psd2css.mezw.com/</a
          >
        </p>
      </li>
    </ul>
    <p>
      将Photoshop设计文件图层中的混合选项参数快速转换为CSS3代码，以节省前端开发人员的时间和精力。
    </p>
    <ul>
      <li>
        <p>
          17.15 Get Emoji：<a href="https://emoji.svend.cc/" class="uri"
            >https://emoji.svend.cc/</a
          >
        </p>
      </li>
      <li>
        <p>
          17.16 图片转Ascii：<a href="http://picascii.com/" class="uri"
            >http://picascii.com/</a
          >
        </p>
      </li>
      <li>
        <p>
          17.17 视频转GIF：<a href="https://github.com/vvo/gifify" class="uri"
            >https://github.com/vvo/gifify</a
          >
        </p>
      </li>
      <li>
        <p>
          17.18 OCR文字识别：<a href="https://app.xunjiepdf.com/ocr" class="uri"
            >https://app.xunjiepdf.com/ocr</a
          >
        </p>
      </li>
    </ul>
    <h3 class="title">18.0 团队</h3>
    <ul>
      <li>
        <p>
          18.1 腾讯AlloyTeam：<a href="http://www.alloyteam.com/" class="uri"
            >http://www.alloyteam.com/</a
          >
        </p>
      </li>
      <li>
        <p>
          18.2 腾讯社交用户体验ISUX：<a
            href="https://isux.tencent.com/"
            class="uri"
            >https://isux.tencent.com/</a
          >
        </p>
      </li>
      <li>
        <p>
          18.3 淘宝FED | 淘宝前端团队：<a
            href="http://taobaofed.org/"
            class="uri"
            >http://taobaofed.org/</a
          >
        </p>
      </li>
      <li>
        <p>
          18.4 阿里巴巴国际UED：<a href="http://www.aliued.com/" class="uri"
            >http://www.aliued.com/</a
          >
        </p>
      </li>
      <li>
        <p>
          18.5 京东 | 凹凸实验室：<a href="https://aotu.io/" class="uri"
            >https://aotu.io/</a
          >
        </p>
      </li>
      <li>
        <p>
          18.6 饿了么前端:<a
            href="https://zhuanlan.zhihu.com/ElemeFE"
            class="uri"
            >https://zhuanlan.zhihu.com/ElemeFE</a
          >
        </p>
      </li>
      <li>
        <p>
          18.7 百度前端研发部FEX：<a href="http://fex.baidu.com/" class="uri"
            >http://fex.baidu.com/</a
          >
        </p>
      </li>
      <li>
        <p>
          18.8 360 | 奇舞团：<a href="https://75team.com/" class="uri"
            >https://75team.com/</a
          >
        </p>
      </li>
      <li>
        <p>
          18.9 知道创宇FED：<a href="https://knownsec-fed.com/" class="uri"
            >https://knownsec-fed.com/</a
          >
        </p>
      </li>
    </ul>
    <h3 class="title">19.0 前端大牛</h3>
    <h5 id="阮一峰蚂蚁金服">阮一峰（蚂蚁金服）</h5>
    <ul>
      <li>
        <p>
          GitHub：<a href="https://github.com/ruanyf" class="uri"
            >https://github.com/ruanyf</a
          >
        </p>
      </li>
      <li>
        <p>
          博客：<a href="http://www.ruanyifeng.com/blog/" class="uri"
            >http://www.ruanyifeng.com/blog/</a
          >
        </p>
      </li>
    </ul>
    <h5 id="尤雨溪">尤雨溪</h5>
    <ul>
      <li>
        <p>
          GitHub：<a href="https://github.com/yyx990803" class="uri"
            >https://github.com/yyx990803</a
          >
        </p>
      </li>
      <li>
        <p>
          博客：<a href="http://blog.evanyou.me/" class="uri"
            >http://blog.evanyou.me/</a
          >
        </p>
      </li>
      <li>
        <p>
          知乎：<a href="https://www.zhihu.com/people/evanyou" class="uri"
            >https://www.zhihu.com/people/evanyou</a
          >
        </p>
      </li>
    </ul>
    <h5 id="玉伯">玉伯</h5>
    <ul>
      <li>
        <p>
          GitHub：<a href="https://github.com/lifesinger" class="uri"
            >https://github.com/lifesinger</a
          >
        </p>
      </li>
      <li>
        <p>
          博客：<a href="https://github.com/lifesinger/blog" class="uri"
            >https://github.com/lifesinger/blog</a
          >
        </p>
      </li>
      <li>
        <p>
          知乎：<a href="https://www.zhihu.com/people/lifesinger" class="uri"
            >https://www.zhihu.com/people/lifesinger</a
          >
        </p>
      </li>
    </ul>
    <h5 id="司徒正美去哪儿">司徒正美（去哪儿）</h5>
    <ul>
      <li>
        <p>
          GitHub：<a href="https://github.com/RubyLouvre" class="uri"
            >https://github.com/RubyLouvre</a
          >
        </p>
      </li>
      <li>
        <p>
          博客：<a href="http://www.cnblogs.com/rubylouvre/" class="uri"
            >http://www.cnblogs.com/rubylouvre/</a
          >
        </p>
      </li>
      <li>
        <p>
          知乎：<a
            href="https://www.zhihu.com/people/si-tu-zheng-mei"
            class="uri"
            >https://www.zhihu.com/people/si-tu-zheng-mei</a
          >
        </p>
      </li>
    </ul>
    <h5 id="张鑫旭腾讯">张鑫旭（腾讯）</h5>
    <ul>
      <li>
        <p>
          GitHub：<a href="https://github.com/zhangxinxu" class="uri"
            >https://github.com/zhangxinxu</a
          >
        </p>
      </li>
      <li>
        <p>
          博客：<a href="https://www.zhangxinxu.com/" class="uri"
            >https://www.zhangxinxu.com/</a
          >
        </p>
      </li>
      <li>
        <p>
          知乎：<a href="https://www.zhihu.com/people/iamzhangxinxu" class="uri"
            >https://www.zhihu.com/people/iamzhangxinxu</a
          >
        </p>
      </li>
    </ul>
    <h5 id="迷渡">迷渡</h5>
    <ul>
      <li>
        <p>
          GitHub：<a href="https://github.com/justjavac" class="uri"
            >https://github.com/justjavac</a
          >
        </p>
      </li>
      <li>
        <p>
          知乎：<a href="https://www.zhihu.com/people/justjavac.com" class="uri"
            >https://www.zhihu.com/people/justjavac.com</a
          >
        </p>
      </li>
    </ul>
    <h5 id="羡辙-ovilia">羡辙 | Ovilia</h5>
    <ul>
      <li>
        <p>
          GitHub：<a href="https://github.com/Ovilia" class="uri"
            >https://github.com/Ovilia</a
          >
        </p>
      </li>
      <li>
        <p>
          知乎：<a href="https://www.zhihu.com/people/ovilia" class="uri"
            >https://www.zhihu.com/people/ovilia</a
          >
        </p>
      </li>
    </ul>
    <h5 id="云谦陈成">云谦（陈成）</h5>
    <ul>
      <li>
        <p>
          GitHub：<a href="https://github.com/sorrycc" class="uri"
            >https://github.com/sorrycc</a
          >
        </p>
      </li>
      <li>
        <p>
          博客：<a href="https://sorrycc.com/" class="uri"
            >https://sorrycc.com/</a
          >
        </p>
      </li>
    </ul>
    <p>
      云谦装了啥：<a href="https://github.com/sorrycc/awesome-tools" class="uri"
        >https://github.com/sorrycc/awesome-tools</a
      >
    </p>
    <h5 id="偏右">偏右</h5>
    <ul>
      <li>
        <p>
          GitHub：<a href="https://github.com/afc163" class="uri"
            >https://github.com/afc163</a
          >
        </p>
      </li>
      <li>
        <p>
          知乎：<a href="https://www.zhihu.com/people/afc163" class="uri"
            >https://www.zhihu.com/people/afc163</a
          >
        </p>
      </li>
    </ul>
    <h5 id="黄峰达phodal-huangthoughtworks">
      黄峰达/Phodal Huang（ThoughtWorks）
    </h5>
    <ul>
      <li>
        <p>
          GitHub：<a href="https://github.com/phodal" class="uri"
            >https://github.com/phodal</a
          >
        </p>
      </li>
      <li>
        <p>
          博客：<a href="https://www.phodal.com/" class="uri"
            >https://www.phodal.com/</a
          >
        </p>
      </li>
      <li>
        <p>
          知乎：<a href="https://www.zhihu.com/people/phodal" class="uri"
            >https://www.zhihu.com/people/phodal</a
          >
        </p>
      </li>
    </ul>
    <h5 id="贺师俊hax百姓网">贺师俊/Hax（百姓网）</h5>
    <ul>
      <li>
        <p>
          GitHub：<a href="https://github.com/hax" class="uri"
            >https://github.com/hax</a
          >
        </p>
      </li>
      <li>
        <p>
          博客：<a href="http://johnhax.net/" class="uri"
            >http://johnhax.net/</a
          >
        </p>
      </li>
      <li>
        <p>
          知乎：<a href="https://www.zhihu.com/people/he-shi-jun" class="uri"
            >https://www.zhihu.com/people/he-shi-jun</a
          >
        </p>
      </li>
    </ul>
    <h5 id="egoist">EGOIST</h5>
    <ul>
      <li>
        <p>
          博客：<a href="https://egoist.sh/" class="uri">https://egoist.sh/</a>
        </p>
      </li>
      <li>
        <p>
          GitHub：<a href="https://github.com/egoist" class="uri"
            >https://github.com/egoist</a
          >
        </p>
      </li>
    </ul>
    <h5 id="冴羽">冴羽</h5>
    <ul>
      <li>
        <p>
          GitHub：<a href="https://github.com/mqyqingfeng" class="uri"
            >https://github.com/mqyqingfeng</a
          >
        </p>
      </li>
      <li>
        <p>
          博客：<a href="https://github.com/mqyqingfeng/Blog" class="uri"
            >https://github.com/mqyqingfeng/Blog</a
          >
        </p>
      </li>
      <li>
        <p>
          知乎：<a
            href="https://www.zhihu.com/people/qing-feng-yi-yang"
            class="uri"
            >https://www.zhihu.com/people/qing-feng-yi-yang</a
          >
        </p>
      </li>
    </ul>
    <h5 id="小爝">小爝</h5>
    <ul>
      <li>
        <p>
          GitHub：<a href="https://github.com/xiaojue" class="uri"
            >https://github.com/xiaojue</a
          >
        </p>
      </li>
      <li>
        <p>
          知乎：<a href="https://www.zhihu.com/people/xiao-jue-83/" class="uri"
            >https://www.zhihu.com/people/xiao-jue-83/</a
          >
        </p>
      </li>
    </ul>
    <h5 id="李靖小胡子哥淘宝网">李靖/小胡子哥（淘宝网）</h5>
    <ul>
      <li>
        <p>
          GitHub：<a href="https://github.com/barretlee" class="uri"
            >https://github.com/barretlee</a
          >
        </p>
      </li>
      <li>
        <p>
          博客：<a href="https://www.barretlee.com/" class="uri"
            >https://www.barretlee.com/</a
          >
        </p>
      </li>
      <li>
        <p>
          知乎：<a href="https://www.zhihu.com/people/barretlee/" class="uri"
            >https://www.zhihu.com/people/barretlee/</a
          >
        </p>
      </li>
    </ul>
    <h5 id="cangdu">cangdu</h5>
    <ul>
      <li>
        GitHub：<a href="https://github.com/bailicangdu" class="uri"
          >https://github.com/bailicangdu</a
        >
      </li>
    </ul>
    <h5 id="jackson-tian">Jackson Tian</h5>
    <ul>
      <li>
        <p>
          GitHub：<a href="https://github.com/JacksonTian" class="uri"
            >https://github.com/JacksonTian</a
          >
        </p>
      </li>
      <li>
        <p>
          博客：<a href="http://jacksontian.org/" class="uri"
            >http://jacksontian.org/</a
          >
        </p>
      </li>
    </ul>
    <h5 id="题叶饿了么前-teambition">题叶（饿了么、前 Teambition）</h5>
    <ul>
      <li>
        <p>
          GitHub：<a href="https://github.com/jiyinyiyong" class="uri"
            >https://github.com/jiyinyiyong</a
          >
        </p>
      </li>
      <li>
        <p>博客：<a href="http://tiye.me/" class="uri">http://tiye.me/</a></p>
      </li>
    </ul>
    <h5 id="杨健今日头条">杨健（今日头条）</h5>
    <ul>
      <li>
        <p>
          GitHub：<a href="https://github.com/hardfist" class="uri"
            >https://github.com/hardfist</a
          >
        </p>
      </li>
      <li>
        <p>
          知乎：<a href="https://www.zhihu.com/people/hardfist" class="uri"
            >https://www.zhihu.com/people/hardfist</a
          >
        </p>
      </li>
    </ul>
    <h5 id="流形">流形</h5>
    <blockquote>
      <p>（阿里巴巴数据技术与产品部前端团队负责人）</p>
    </blockquote>
    <ul>
      <li>
        知乎：<a href="https://www.zhihu.com/people/arcthur/" class="uri"
          >https://www.zhihu.com/people/arcthur/</a
        >
      </li>
    </ul>
    <p>
      如果你有发现新的内容，欢迎在 GitHub 上提交
      <a href="https://github.com/qianguyihao/web/issues">issues</a>。
    </p>
  </ul>

  <!-- <h5 class="title"><a href="#">2.0 The Necessities Tools</a></h5> -->

  <!-- 
  <h5 class="title">3.0 Building Blocks &amp; Responsive Design</h5> -->
  <h3 class="title"><a href="/blog">Go Back Home Page</a></h3>
  <a href="/blog">
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<img
      src="/images/Blog/gobackicon.jpg"
      alt="Go Back To Home Page"
      style="width:50%, height: 50%;"
  /></a>
</article>
